<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="">
				<img src="{{url_base}}/assets/img/slides/slide-receita-detalhe.png"
					alt="Slide"
					data-bgposition="center center"
					data-bgfit="cover"
					data-bgrepeat="no-repeat"
					class="rev-slidebg">
			</li>
		</ul>
	</div>
</div>
<section class="call-to-action frutasclasse-bg-2 pt-5 appear-animation" data-appear-animation="fadeIn">
<div class="container py-sm-4 my-sm-5">
  <div class="row">
    <div class="col">
      <div class="blog-posts">
        <div class="row">
          <div class="col-12 appear-animation animated fadeInLeftShorter appear-animation-visible mb-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
            <div class="">
              <h2 class="frutasclasse-color-2 axiforma-semi-bold frutasclasse-title-big text-center text-sm-left">Tarde Tatin de Maçã</h2>
              <div class="float-left text-dark font-weight-normal">
      					<ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light axiforma-regular">
      						<li class="social-icons-facebook pr-2 pr-sm-5"><i class="far fa-clock pr-2" style="font-size: 30px;"></i> 50 min</li>
                  <li class="social-icons-facebook pr-2 pr-sm-5"><i class="fas fa-signal pr-2" style="font-size: 30px;"></i> Difícil</li>
                  <li class="social-icons-facebook pr-2 pr-sm-5"><i class="far fa-user pr-2" style="font-size: 30px;"></i> 8 porções</li>
      					</ul>
      				</div>
            </div>
          </div>
          <div class="col-md-8 axiforma-regular">
            <div class="pr-sm-5 mr-sm-5">
              <h2 class="text-dark font-weight-400 text-center text-sm-left">Tarde Tatin de Maçã</h2>
              <p class="text-dark">1. Numa forma que possa ir ao lume, ou numa frigideira que possa ir ao forno, despeje o açúcar e leve ao lume a caramelizar, até obter um caramelo clarinho. Quando estiver neste ponto junte a manteiga e mexa envolvendo a manteiga no caramelo. Retire do lume e reserve. </p>
              <p class="text-dark">2. Descasque e descaroce as maçãs. Corte-as em fatias grossas e disponha-as por cima do caramelo. Tenha o cuidado de cobrir todos os espaços com a maçã uma vez que as fatias reduzem ligeiramente o seu tamanho com a cozedura. </p>
              <p class="text-dark">3. Leve ao lume para as maçãs cozinharem ligeiramente no caramelo. Quando estiverem meio cozidas retire do lume.</p>
              <p class="text-dark">4. Disponha a massa folhada por cima das maçãs “entalando” as pontas da massa.</p>
              <p class="text-dark">5. Leve ao forno a 180ºC, até a massa dourar. Os rebordos ficarão caramelizados.</p>
              <p class="text-dark">6. Com a ajuda de um prato vire a tarte tatin ainda quente (fria pode ficar agarrada na forma).</p>
              <p class="text-dark">Sirva morna. Pode polvilhar com canela.</p>
            </div>
          </div>
          <div class="col-md-4 axiforma-regular">
            <div class="frutasclasse-ingredientes p-2 p-lg-5 mb-5 mb-sm-0">
              <h2 class="frutasclasse-color-2">Ingredientes</h2>
              <p class="text-dark">1 rolo de massa folhada</p>
              <p class="text-dark">4 ou 5 maçãs</p>
              <p class="text-dark">200g de açúcar</p>
              <p class="text-dark">80g de manteiga</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
