<div class="slider-container rev_slider_wrapper" style="height: 500px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/slides/slide-receitas.png"
          alt="Slide"
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg">

          <div class="tp-caption axiforma-light text-center ws-normal"
  					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
  					data-x="center"
  					data-y="center" data-voffset="['8','20','20','150']"
  					data-width="['870','900','950','1300']"
  					data-fontsize="['40','60','60','50']"
  					data-lineheight="['69','69','69','100']"
  					style="color: #e0e0e0;"><strong class="text-color-light axiforma-extra-bold">Seja criativo e explore as nossas receitas</strong></div>
      </li>
    </ul>
  </div>
</div>
<div class="container py-4 my-sm-5">
	<ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center frutasclasse-filter pt-3 py-sm-4 mb-sm-5 axiforma-regular" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
		<li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="#">Todas</a></li>
		<li class="nav-item" data-option-value=".sobremesas"><a class="nav-link text-1 text-uppercase" href="#">sobremesas</a></li>
		<li class="nav-item" data-option-value=".saladas"><a class="nav-link text-1 text-uppercase" href="#">saladas</a></li>
		<li class="nav-item" data-option-value=".assados"><a class="nav-link text-1 text-uppercase" href="#">Assados</a></li>
		<li class="nav-item" data-option-value=".cocktails"><a class="nav-link text-1 text-uppercase" href="#">cocktails</a></li>
    <li class="nav-item" data-option-value=".batidos"><a class="nav-link text-1 text-uppercase" href="#">batidos</a></li>
	</ul>
	<div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
		<div class="row portfolio-list sort-destination" data-sort-id="portfolio">
			<div class="col-md-6 col-lg-4 isotope-item sobremesas">
        <article class="post post-medium border-0 pb-0 mb-5">
          <div class="post-image">
            <a href="{{url_base}}/receitas/detalhe">
              <img src="{{url_base}}/assets/img/receitas/receita1.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
            </a>
          </div>
          <div class="post-content frutasclasse-receitas-bg pb-2">
            <p class="pt-3 axiforma-medium">Tarte Tatin de Maçã</p>
            <p class="axiforma-light">Uma receita simples e clássica, mas com um sabor inesquecível.</p>
          </div>
        </article>
			</div>
      <div class="col-md-6 col-lg-4 isotope-item sobremesas">
        <article class="post post-medium border-0 pb-0 mb-5">
          <div class="post-image">
            <a href="{{url_base}}/receitas/detalhe">
              <img src="{{url_base}}/assets/img/receitas/receita2.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
            </a>
          </div>
          <div class="post-content frutasclasse-receitas-bg pb-2">
            <p class="pt-3 axiforma-medium">Bolo cremoso de morango</p>
            <p class="axiforma-light">Uma receita cheia de sabor e com uma textura perfeita</p>
          </div>
        </article>
			</div>
      <div class="col-md-6 col-lg-4 isotope-item saladas">
        <article class="post post-medium border-0 pb-0 mb-5">
          <div class="post-image">
            <a href="{{url_base}}/receitas/detalhe">
              <img src="{{url_base}}/assets/img/receitas/receita3.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
            </a>
          </div>
          <div class="post-content frutasclasse-receitas-bg pb-2">
            <p class="pt-3 axiforma-medium">Risotto de morango</p>
            <p class="axiforma-light">Uma ideia arrojada, mas que resulta na perfeição.</p>
          </div>
        </article>
			</div>
      <div class="col-md-6 col-lg-4 isotope-item batidos">
        <article class="post post-medium border-0 pb-0 mb-5">
          <div class="post-image">
            <a href="{{url_base}}/receitas/detalhe">
              <img src="{{url_base}}/assets/img/receitas/receita4.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
            </a>
          </div>
          <div class="post-content frutasclasse-receitas-bg pb-2">
            <p class="pt-3 axiforma-medium">Iogurte com frutas</p>
            <p class="axiforma-light">Uma receita refrescante para aqueles dias mais quentes</p>
          </div>
        </article>
			</div>
      <div class="col-md-6 col-lg-4 isotope-item cocktails">
        <article class="post post-medium border-0 pb-0 mb-5">
          <div class="post-image">
            <a href="{{url_base}}/receitas/detalhe">
              <img src="{{url_base}}/assets/img/receitas/receita5.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
            </a>
          </div>
          <div class="post-content frutasclasse-receitas-bg pb-2">
            <p class="pt-3 axiforma-medium">Mousse de morango</p>
            <p class="axiforma-light">Os morangos de sempre com um toque de doçura estra</p>
          </div>
        </article>
			</div>
      <div class="col-md-6 col-lg-4 isotope-item sobremesas">
        <article class="post post-medium border-0 pb-0 mb-5">
          <div class="post-image">
            <a href="{{url_base}}/receitas/detalhe">
              <img src="{{url_base}}/assets/img/receitas/receita6.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
            </a>
          </div>
          <div class="post-content frutasclasse-receitas-bg pb-2">
            <p class="pt-3 axiforma-medium">Bolo de iogurte com morango</p>
            <p class="axiforma-light">Uma receita tradicional aliada ao inconfundível sabor do morango</p>
          </div>
        </article>
			</div>
      <div class="col-md-6 col-lg-4 isotope-item sobremesas">
        <article class="post post-medium border-0 pb-0 mb-5">
          <div class="post-image">
            <a href="{{url_base}}/receitas/detalhe">
              <img src="{{url_base}}/assets/img/receitas/receita7.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
            </a>
          </div>
          <div class="post-content frutasclasse-receitas-bg pb-2">
            <p class="pt-3 axiforma-medium">Pêra caramelizada</p>
            <p class="axiforma-light">Uma ideia para adocicar os almoços de outono</p>
          </div>
        </article>
			</div>
      <div class="col-md-6 col-lg-4 isotope-item assados">
        <article class="post post-medium border-0 pb-0 mb-5">
          <div class="post-image">
            <a href="{{url_base}}/receitas/detalhe">
              <img src="{{url_base}}/assets/img/receitas/receita8.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
            </a>
          </div>
          <div class="post-content frutasclasse-receitas-bg pb-2">
            <p class="pt-3 axiforma-medium">Tartes de fruta variada</p>
            <p class="axiforma-light">Transforme os seus lanches e surpreenda os seus amigos com esta receita</p>
          </div>
        </article>
			</div>
      <div class="col-md-6 col-lg-4 isotope-item sobremesas">
        <article class="post post-medium border-0 pb-0 mb-5">
          <div class="post-image">
            <a href="{{url_base}}/receitas/detalhe">
              <img src="{{url_base}}/assets/img/receitas/receita9.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
            </a>
          </div>
          <div class="post-content frutasclasse-receitas-bg pb-2">
            <p class="pt-3 axiforma-medium">Pêras bêbedas com vinho tinto</p>
            <p class="axiforma-light">Uma combinação perfeita para as estações mais frias</p>
          </div>
        </article>
			</div>
		</div>
	</div>
</div>
