<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="">
				<img src="{{url_base}}/assets/img/slides/slide-comercializacao.png"
					alt="Slide"
					data-bgposition="['left','center','center','center']"
					data-bgfit="cover"
					data-bgrepeat="no-repeat"
					class="rev-slidebg">
  				<div class="tp-caption font-weight-light text-left ws-normal"
  					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
						data-x="['left','center','center','center']"
						data-y="['center','center','center','center']"
						data-voffset="['-178','-120','-120','-170']"
						data-hoffset="['0','210','0','0']"
  					data-width="['870','800','800','800']"
  					data-fontsize="['40','50','85','100']"
  					style="color: #e0e0e0;"><strong class="text-color-light axiforma-extra-bold">Onde estamos</strong></div>
          <div class="tp-caption font-weight-light text-left ws-normal"
  					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
						data-x="['left','center','center','center']"
						data-y="['center','center','center','center']"
						data-voffset="['108','100','200','200']"
						data-hoffset="['0','0','0','0']"
  					data-width="['400','1000','800','1000']"
  					data-fontsize="['20','30','30','45']"
  					data-lineheight="['39','39','50','55']"
  					style="color: #e0e0e0;"><span class="text-color-light axiforma-regular">A nossa atividade estende-se além de Portugal. Contamos com parceiros que nos auxiliam na internacionalização e ajudam a levar os nosso produtos além fronteiras.<br> Atualmente os produtos Frutas Classe são comercializados nos mercados nacional, europeu e asiático.</span></div>
			</li>
		</ul>
	</div>
</div>

<!-- <div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="">
				<img src="{{url_base}}/assets/img/slides/slide-comercializacao.png"
					alt=""
					data-bgposition="center center"
					data-bgfit="cover"
					data-bgrepeat="no-repeat"
					class="rev-slidebg">

  				<div class="tp-caption font-weight-light text-left ws-normal"
  					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
  					data-x="left"
  					data-y="center" data-voffset="['-178','-178','-178','-240']"
  					data-width="['870','870','870','1300']"
  					data-fontsize="['40','40','40','70']"
  					data-lineheight="['69','69','69','100']"
  					style="color: #e0e0e0;"><strong class="text-color-light axiforma-extra-bold">Onde estamos</strong></div>

          <div class="tp-caption font-weight-light text-left ws-normal"
  					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
  					data-x="left"
  					data-y="center" data-voffset="['108','108','108','170']"
  					data-width="['400','400','400','930']"
  					data-fontsize="['20','20','20','50']"
  					data-lineheight="['39','39','39','70']"
  					style="color: #e0e0e0;"><span class="text-color-light axiforma-regular">A nossa atividade estende-se além de Portugal. Contamos com parceiros que nos auxiliam na internacionalização e ajudam a levar os nosso produtos além fronteiras.<br> Atualmente os produtos Frutas Classe são comercializados nos mercados nacional, europeu e asiático.</span></div>

			</li>
		</ul>
	</div>
</div> -->
