<div class="slider-container rev_slider_wrapper" style="height: 500px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/slides/slide-contacto.png"
          alt="Slide"
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg">

          <div class="tp-caption font-weight-light text-center ws-normal"
  					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
  					data-x="center"
  					data-y="center" data-voffset="['8','20','20','150']"
  					data-width="['1070','1070','1070','1100']"
  					data-fontsize="['40','60','60','50']"
  					data-lineheight="['69','69','69','70']"
  					style="color: #e0e0e0;"><strong class="text-color-light axiforma-extra-bold">Saiba como entrar em contacto connosco.</strong></div>
      </li>
    </ul>
  </div>
</div>

<section class="call-to-action call-to-action-frutasclasse-2 py-sm-5 appear-animation" data-appear-animation="fadeIn">
  <div class="container my-lg-5 pb-lg-5">
		<div class="row mb-4">
			<div class="col-md-4 col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
				<div class="featured-box featured-box-effect-4" style="height: 205px;">
          <div class="box-content px-lg-5 pb-lg-5">
            <div class="contacto-img pb-5">
              <img src="{{url_base}}/assets/img/icons/phone.svg" alt="Telefone">
            </div>
						<p class="axiforma-medium text-dark">Telefone: +(351) 262 910 172 <br>Fax: +(351) 262 910 171</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
				<div class="featured-box featured-box-effect-4" style="height: 205px;">
          <div class="box-content px-lg-5 pb-lg-5">
            <div class="contacto-img pb-5">
              <img src="{{url_base}}/assets/img/icons/map-marker.svg" alt="Mapa">
            </div>
						<p class="axiforma-medium text-dark">Rua das Poças, nº6 - Lugar do Bouro 2500-660 - Salir do Porto, Portugal</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
				<div class="featured-box featured-box-effect-4" style="height: 205px;">
          <div class="box-content px-lg-5 pb-lg-5">
            <div class="contacto-img pb-5">
              <img src="{{url_base}}/assets/img/icons/mail.svg" alt="Email">
            </div>
						<p class="axiforma-medium text-dark"> info@frutasclasse.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
