<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="frutasclasse-overlay ameixa-slide">
				<!-- <img src="{{url_base}}/assets/img/slides/products/slide-ameixa.png"
					alt="Slide"
					data-bgposition="center center"
					data-bgfit="cover"
					data-bgrepeat="no-repeat"
					class="rev-slidebg"> -->

          <div class="tp-caption"
						data-x="center"
						data-y="center" data-voffset="['350','500','500','600']"
						data-start="1000"
						data-transform_in="x:[300%];opacity:0;s:500;"
						data-transform_idle="opacity:1;s:500;"><a data-hash href="#detail"><img src="{{url_base}}/assets/img/icons/down-arrow.svg" alt="Arrow"></a></div>
			</li>
		</ul>
	</div>
</div>
<div class="container-fluid light-bg appear-animation" data-appear-animation="fadeIn" id="detail">
  <div class="row align-items-center pt-5 pt-lg-0">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
      <div class="px-lg-5 mx-lg-5 my-lg-5">
        <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left text-7 text-md-10 texto-ameixa">Ameixa</h2>
        <p class="mb-lg-5 pb-lg-5 mr-lg-5 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0 dark-text text-justify text-lg-left text-3 text-lg-4">De polpa firme e sabor refrescante, as ameixas são um dos frutos favoritos de verão. Trata-se de um fruto carnudo e com caroço duro que se caracteriza igualmente pela polpa amarela ou avermelhada e pelo doce sabor.
  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-right mb-md-0 px-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/products/detail/img/ameixa/ameixa.png" class="img-fluid" alt="Ameixa">
    </div>
  </div>
</div>
<div class="container-fluid bg-ameixa py-lg-5 appear-animation" data-appear-animation="fadeIn">
  <div class="row align-items-center py-xl-5 my-xl-5">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5 mt-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
      <div class="px-lg-5 mx-lg-5">
        <h2 class="mb-2 mb-lg-4 text-pear3 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left text-light text-7 text-md-10">Comercialização</h2>
        <p class="mb-lg-5 pb-lg-5 text-pear3 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0 text-light text-justify text-lg-left text-3 text-lg-4">Além de consumida fresca, a ameixa pode também ser apreciada seca, em conserva ou em alguns pratos de doçaria tradicional. A comercialização da ameixa começa em junho e prolonga-se até outubro.
  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible mb-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/products/detail/img/ameixa/ameixa-tabela-1.svg" class="img-fluid" alt="Comercialização">
    </div>
  </div>
</div>
<section class="appear-animation" data-appear-animation="fadeIn">
<img src="{{url_base}}/assets/img/products/detail/bottom-banner/ameixa.png" alt="Ameixa" class="img-fluid p-0">
</section>
<section class="call-to-action call-to-action-frutasclasse-2 pt-5 appear-animation frutasclasse-parallax-9" data-appear-animation="fadeIn">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 py-lg-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
        <div class="px-lg-5 mx-lg-5 my-lg-5">
          <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left text-7 text-md-10 texto-ameixa">A nossa embalagem</h2>
          <p class="mb-lg-5 pb-lg-5 axiforma-regular frutasclasse-products-simple-text dark-text text-justify text-lg-left text-3 text-lg-4">A ameixa é uma boa fonte de fibra, de vitamina A e de potássio. O seu teor de fibra solúvel e insolúvel ajuda a regularizar o trânsito intestinal, contribuindo para manter um intestino saudável. Como boa fonte de potássio, pode ter um papel no controlo da pressão arterial e prevenção de doenças cardiovasculares. O nosso compromisso é manter intactas todas estas propriedades até ao momento do seu consumo. As nossas embalagens são concebidas com esse propósito, garantindo a qualidade do produto durante toda a viagem até à sua mesa.
    </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
        <img src="{{url_base}}/assets/img/products/detail/img/ameixa/ameixa-tabela-2.svg" class="img-fluid" alt="Embalagens">
      </div>
    </div>
  </div>
</section>
