<!-- <div id="leaf5" class="d-none d-lg-block float-leaf-right animate-leaf">
  <img src="{{url_base}}/assets/img/icons/leaf3.svg" />
</div>

<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="">
				<img src="{{url_base}}/assets/img/slides/slide-produtos.png"
					alt=""
					data-bgposition="center center"
					data-bgfit="cover"
					data-bgrepeat="no-repeat"
					class="rev-slidebg">

			</li>
		</ul>
	</div>
</div>

<div class="container-fluid frutasclasse-bg-2">
  <div class="row align-items-center pt-5 pt-lg-0">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
      <div class="frutasclasse-produtos-text">
        <h2 class="mb-lg-5 py-lg-5 axiforma-semi-bold frutasclasse-color-6 frutasclasse-title-middle text-center text-md-left">Os nossos morangos</h2>
        <p class="mb-lg-5 pb-lg-5 text-dark axiforma-regular frutasclasse-products-simple-text px-2 px-md-0">Produzimos morangos com o coração e por isso, não é falsa modéstia, dizer que temos o melhor sabor do Oeste.<br>
  Donos de uma textura macia e um sabor silvestre incomparável, provar os nossos morangos é provar o doce sabor que a natureza tem para nos oferecer.
  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/generic/pruducts-pic.png" class="img-fluid" alt="">
    </div>
  </div>
</div>

<div class="container-fluid frutasclasse-bg-4 py-lg-5">
  <div class="row align-items-center py-xl-5 my-xl-5">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5 mt-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
      <div class="frutasclasse-produtos-text">
        <h2 class="mb-lg-5 pb-lg-5 frutasclasse-color-3 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left">Produzimos todo o ano</h2>
        <p class="mb-lg-5 pb-lg-5 frutasclasse-color-3 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0">O nosso desejo de inovar e de fornecer aos nosso clientes ofertas únicas, levou a um esforço particular e intensivo na produção de morangos. Graças a esta aposta particular, a Frutas Classe consegue produzir todo o ano e garantir ao mercado português a exclusividade do abastecimento de morangos durante o segundo semestre do ano, acontecimento que não se verificava até 2010.

  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible mb-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/generic/products-block.svg" class="img-fluid" alt="">
    </div>
  </div>
</div>

<section class="call-to-action call-to-action-frutasclasse-2 pt-5 appear-animation frutasclasse-parallax-2" data-appear-animation="fadeIn">
  <div class="container py-lg-5 my-lg-5">

    <div class="row">
					<div class="col">
						<div class="blog-posts">

							<div class="row">

								<div class="col-lg-4 col-xl-2">
									<article class="post post-medium pb-0 my-5 frutasclasse-processos-2">
										<div class="post-content p-4">
											<h2 class="m-0 text-white axiforma-bold">1</h2>
											<p class="axiforma-bold">Preparação do Solo.</p>
										</div>
									</article>
								</div>

                <div class="col-lg-4 col-xl-2">
									<article class="post post-medium pb-0 my-5 frutasclasse-processos-2">
										<div class="post-content p-4">
											<h2 class="m-0 text-white axiforma-bold">2</h2>
											<p class="axiforma-bold">Armamento.</p>
										</div>
									</article>
								</div>

                <div class="col-lg-4 col-xl-2">
									<article class="post post-medium pb-0 my-5 frutasclasse-processos-2">
										<div class="post-content p-4">
											<h2 class="m-0 text-white axiforma-bold">3</h2>
											<p class="axiforma-bold">Plantação.</p>
										</div>
									</article>
								</div>

                <div class="col-lg-4 col-xl-2">
									<article class="post post-medium pb-0 my-5 frutasclasse-processos-2">
										<div class="post-content p-4">
											<h2 class="m-0 text-white axiforma-bold">4</h2>
											<p class="axiforma-bold">Sacha Manual.</p>
										</div>
									</article>
								</div>

                <div class="col-lg-4 col-xl-2">
									<article class="post post-medium pb-0 my-5 frutasclasse-processos-2">
										<div class="post-content p-4">
											<h2 class="m-0 text-white axiforma-bold">5</h2>
											<p class="axiforma-bold">Corte de Flores.</p>
										</div>
									</article>
								</div>

                <div class="col-lg-4 col-xl-2">
									<article class="post post-medium pb-0 my-5 frutasclasse-processos-2">
										<div class="post-content p-4">
											<h2 class="m-0 text-white axiforma-bold">6</h2>
											<p class="axiforma-bold">Colheita e Embalamento.</p>
										</div>
									</article>
								</div>

					</div>
				</div>
     </div>
  </div>
</section>

<section class="call-to-action call-to-action-frutasclasse-2 pt-5 appear-animation frutasclasse-parallax-3" data-appear-animation="fadeIn">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
        <div class="frutasclasse-produtos-text">
          <h2 class="mb-lg-5 pb-lg-5 axiforma-semi-bold frutasclasse-title-middle frutasclasse-color-6">A nossa embalagem</h2>
          <p class="mb-lg-5 pb-lg-5 text-dark axiforma-regular frutasclasse-products-simple-text">A qualidade dos nossos produtos deve ser preservada e realçada. Desta forma desenvolvemos uma embalagem que protege os nossos delicados produtos das possíveis agressões do exterior, ao mesmo tempo que permite destacar a cor e a excelência dos nossos morangos.

    </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
        <img class="pr-lg-5 mr-lg-5 img-fluid" src="{{url_base}}/assets/img/generic/produtos-pic2.png" alt="">
      </div>
    </div>
  </div>
</section> -->
