<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="frutasclasse-overlay laranja-slide">
          <div class="tp-caption"
						data-x="center"
						data-y="center" data-voffset="['350','500','500','600']"
						data-start="1000"
						data-transform_in="x:[300%];opacity:0;s:500;"
						data-transform_idle="opacity:1;s:500;"><a data-hash href="#detail"><img src="{{url_base}}/assets/img/icons/down-arrow.svg" alt="Arrow"></a></div>
			</li>
		</ul>
	</div>
</div>
<div class="container-fluid light-bg appear-animation" data-appear-animation="fadeIn" id="detail">
  <div class="row align-items-center pt-5 pt-lg-0">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
        <div class="px-lg-5 mx-lg-5 my-lg-5">
        <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left texto-laranja text-7 text-md-10">Laranja</h2>
        <p class="mb-lg-5 pb-lg-5 mr-lg-5 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0 dark-text text-justify text-lg-left text-3 text-lg-4">As laranjas são o citrino mais consumido em todo o mundo sendo reconhecidas pela sua frescura e casca grossa. <br>As variedades mais comuns caracterizam-se pelo sabor doce e agradável, embora outras variedades possam apresentar um traço mais amargo e usadas, por exemplo, para a produção de compotas.
  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-right mb-md-0 px-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/products/detail/img/laranja/laranja.png" class="img-fluid" alt="Laranja">
    </div>
  </div>
</div>
<div class="container-fluid bg-laranja py-lg-5 appear-animation" data-appear-animation="fadeIn">
  <div class="row align-items-center py-xl-5 my-xl-5">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5 mt-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
      <div class="px-lg-5 mx-lg-5">
        <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left light-text text-7 text-md-10">Comercialização</h2>
        <p class="mb-lg-5 pb-lg-5 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0 light-text text-justify text-lg-left text-3 text-lg-4">A combinação de elementos únicos, relacionados com o clima e solo, tornam Portugal um país privilegiado para a produção de laranjas. A sua produção e comercialização decorre todo o ano, oferendo ao consumidor a possibilidade de encontrar todos os dias as laranjas mais frescas.
  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible mb-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/products/detail/img/laranja/laranja-tabela-1.svg" class="img-fluid" alt="Comercialização">
    </div>
  </div>
</div>
<section class="appear-animation" data-appear-animation="fadeIn">
<img src="{{url_base}}/assets/img/products/detail/bottom-banner/laranja.png" alt="Laranja" class="img-fluid p-0">
</section>
<section class="call-to-action call-to-action-frutasclasse-2 pt-5 appear-animation frutasclasse-parallax-8" data-appear-animation="fadeIn">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 py-lg-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
        <div class="px-lg-5 mx-lg-5 my-lg-5">
          <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left text-7 text-md-10 texto-laranja">A nossa embalagem</h2>
          <p class="mb-lg-5 pb-lg-5 axiforma-regular frutasclasse-products-simple-text text-dark text-justify text-lg-left text-3 text-lg-4">As laranjas têm poucas calorias e são ricas em inúmeros nutrientes benéficos para a saúde. Uma laranja tem cerca de 170 fitoquímicos e mais de 60 flavonoides. Demonstrando, assim, propriedades anti-inflamatórias e efeitos antioxidantes. Para garantir um fruto saboroso, cuidado e intacto, comercializamos as nossas Laranjas em embalagens pensadas e desenvolvidas para o efeito, para que o consumidor possa ter em casa todo o sabor, frescura e vitamina C que procura.
    </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
        <img class="pr-lg-5 mr-lg-5 img-fluid" src="{{url_base}}/assets/img/products/detail/img/laranja/laranja-tabela-2.svg" alt="Embalagem">
      </div>
    </div>
  </div>
</section>
