<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="frutasclasse-overlay maca_royal-slide">
          <div class="tp-caption"
						data-x="center"
						data-y="center" data-voffset="['350','500','500','600']"
						data-start="1000"
						data-transform_in="x:[300%];opacity:0;s:500;"
						data-transform_idle="opacity:1;s:500;"><a data-hash href="#detail"><img src="{{url_base}}/assets/img/icons/down-arrow.svg" alt="Arrow"></a></div>
			</li>
		</ul>
	</div>
</div>
<div class="container-fluid light-bg appear-animation" data-appear-animation="fadeIn" id="detail">
  <div class="row align-items-center pt-5 pt-lg-0">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
      <div class="px-lg-5 mx-lg-5 my-lg-5">
        <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left texto-maca_royal text-7 text-md-10">Maçã Royal Gala</h2>
        <p class="mb-lg-5 pb-lg-5 mr-lg-5 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0 dark-text text-justify text-lg-left text-3 text-lg-4">Originária da Nova Zelândia, a maçã Royal Gala caracteriza-se pela sua forma arredondada e alongada e cor vermelho vivo. A sua polpa é fina e doce, com excelente níveis de fibras e vitaminas essenciais.</p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-right mb-md-0 px-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/products/detail/img/maca_royal/maca_royal.png" class="img-fluid" alt="Maça Royal Gala">
    </div>
  </div>
</div>
<div class="container-fluid py-lg-5 bg-maca_royal appear-animation" data-appear-animation="fadeIn">
  <div class="row align-items-center py-xl-5 my-xl-5">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5 mt-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
      <div class="px-lg-5 mx-lg-5">
        <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left light-text text-7 text-md-10">Comercialização</h2>
        <p class="mb-lg-5 pb-lg-5 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0 light-text text-justify text-lg-left text-3 text-lg-4">A produção da Maçã Royal Gala adapta-se na perfeição às condições naturais de Portugal, em especial na região Oeste. A sua comercialização ocorre que todos o ano, sendo uma escolha muito popular nas casas portuguesas.
  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible mb-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/products/detail/img/maca_royal/maca_royal-tabela-1.svg" class="img-fluid" alt="Comercialização">
    </div>
  </div>
</div>
<section class="appear-animation" data-appear-animation="fadeIn">
<img src="{{url_base}}/assets/img/products/detail/bottom-banner/maca_royal.png" alt="Maça Royal Gala" class="img-fluid p-0">
</section>
<section class="call-to-action call-to-action-frutasclasse-2 pt-5 appear-animation frutasclasse-parallax-7" data-appear-animation="fadeIn">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 py-lg-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
        <div class="px-lg-5 mx-lg-5 my-lg-5">
          <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle texto-maca_royal text-center text-md-left text-7 text-md-10">A nossa embalagem</h2>
          <p class="mb-lg-5 pb-lg-5axiforma-regular frutasclasse-products-simple-text dark-text text-justify text-lg-left text-3 text-lg-4">Um dos frutos mais apreciados e consumidos por todo mundo, a Maça Royal Gala é um alimento repleto de benefícios para a nossa saúde. Rica em quercetina, que se traduz em propriedades anti-inflamatórias, anti-carcinogénicas e antivirais, esta maça é menos resistente ao armazenamento e como tal, tem de ser acondicionada de forma segura e cuidada. Para isso, desenvolvemos um conjunto de embalagens que garantem uma distribuição eficiente, sem danificar a qualidade do produto.
    </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
        <img src="{{url_base}}/assets/img/products/detail/img/maca_royal/maca_royal-tabela-2.svg" class="img-fluid" alt="Embalagem">
      </div>
    </div>
  </div>
</section>
