<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider
    data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
    <ul>
      <li data-transition="fade" class="">
        <img src="{{url_base}}/assets/img/slides/products/slide-morango.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
        <div class="tp-caption" data-x="center" data-y="center" data-voffset="['350','500','500','600']" data-start="1000" data-transform_in="x:[300%];opacity:0;s:500;" data-transform_idle="opacity:1;s:500;"><a data-hash href="#detail">
          <img src="{{url_base}}/assets/img/icons/down-arrow.svg" alt="Arrow"></a></div>
      </li>
    </ul>
  </div>
</div>
<div class="container-fluid light-bg appear-animation" data-appear-animation="fadeIn" id="detail">
  <div class="row align-items-center pt-5 pt-lg-0">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
      <div class="px-lg-5 mx-lg-5 my-lg-5">
        <h2 class="mb-2 mb-lg-4 axiforma-semi-bold text-center text-md-left texto-morango text-7 text-md-10">Os nossos morangos</h2>
        <p class="mb-lg-5 pb-lg-5 mr-lg-5 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0 text-dark text-justify text-lg-left text-3 text-lg-4">Produzimos morangos com o coração e por isso, não é falsa modéstia, dizer que temos o melhor sabor do Oeste.<br>
          Donos de uma textura macia e um sabor silvestre incomparável, provar os nossos morangos é provar o doce sabor que a natureza tem para nos oferecer.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-right mb-md-0 px-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/products/detail/img/morango/morango.png" class="img-fluid" alt="Morango">
    </div>
  </div>
</div>
<div class="container-fluid py-lg-5 bg-morango appear-animation" data-appear-animation="fadeIn">
  <div class="row align-items-center py-xl-5 my-xl-5">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5 mt-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
        <div class="px-lg-5 mx-lg-5">
        <h2 class="frutasclasse-color-3 axiforma-semi-bold text-center text-md-left text-7 text-md-10">Produzimos todo o ano</h2>
        <p class="mb-2 mb-lg-5 pb-lg-5 frutasclasse-color-3 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0 text-justify text-lg-left text-3 text-lg-4">O nosso desejo de inovar e de fornecer aos nosso clientes ofertas únicas, levou a um esforço particular e intensivo na
          produção de morangos. Graças a esta aposta particular, a Frutas Classe consegue produzir todo o ano e garantir ao mercado português a exclusividade do abastecimento de morangos durante o segundo semestre do ano, acontecimento que não se
          verificava até 2010.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible mb-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400"
      style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/products/detail/img/morango/morango-tabela-1.svg" class="img-fluid" alt="Morango">
    </div>
  </div>
</div>
<section class="call-to-action call-to-action-frutasclasse-2 pt-5 appear-animation frutasclasse-parallax-2" data-appear-animation="fadeIn">
  <div class="container container-lg py-lg-5 my-lg-5 px-lg-5">
    <div class="row">
      <div class="col">
        <div class="blog-posts">
          <div class="row">
            <div class="col-lg-4 col-xl-2">
              <article class="post post-medium pb-0 my-5 frutasclasse-processos-2">
                <div class="post-content p-4">
                  <h2 class="m-0 text-white axiforma-bold">1</h2>
                  <p class="axiforma-bold">Preparação do Solo.</p>
                </div>
              </article>
            </div>
            <div class="col-lg-4 col-xl-2">
              <article class="post post-medium pb-0 my-5 frutasclasse-processos-2">
                <div class="post-content p-4">
                  <h2 class="m-0 text-white axiforma-bold">2</h2>
                  <p class="axiforma-bold">Armamento.</p>
                </div>
              </article>
            </div>
            <div class="col-lg-4 col-xl-2">
              <article class="post post-medium pb-0 my-5 frutasclasse-processos-2">
                <div class="post-content p-4">
                  <h2 class="m-0 text-white axiforma-bold">3</h2>
                  <p class="axiforma-bold">Plantação.</p>
                </div>
              </article>
            </div>
            <div class="col-lg-4 col-xl-2">
              <article class="post post-medium pb-0 my-5 frutasclasse-processos-2">
                <div class="post-content p-4">
                  <h2 class="m-0 text-white axiforma-bold">4</h2>
                  <p class="axiforma-bold">Sacha Manual.</p>
                </div>
              </article>
            </div>
            <div class="col-lg-4 col-xl-2">
              <article class="post post-medium pb-0 my-5 frutasclasse-processos-2">
                <div class="post-content p-4">
                  <h2 class="m-0 text-white axiforma-bold">5</h2>
                  <p class="axiforma-bold">Corte de Flores.</p>
                </div>
              </article>
            </div>
            <div class="col-lg-4 col-xl-2">
              <article class="post post-medium pb-0 my-5 frutasclasse-processos-2">
                <div class="post-content p-4">
                  <h2 class="m-0 text-white axiforma-bold">6</h2>
                  <p class="axiforma-bold">Colheita e Embalamento.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="call-to-action call-to-action-frutasclasse-2 pt-5 appear-animation frutasclasse-parallax-3" data-appear-animation="fadeIn">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 py-lg-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
      <div class="px-lg-5 mx-lg-5 my-lg-5">
          <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left text-7 text-md-10 texto-morango2">A nossa embalagem</h2>
          <p class="mb-lg-5 pb-lg-5 text-dark axiforma-regular frutasclasse-products-simple-text text-justify text-lg-left text-3 text-lg-4">A qualidade dos nossos produtos deve ser preservada e realçada. Desta forma desenvolvemos uma embalagem que protege os nossos delicados produtos
            das possíveis agressões do exterior, ao mesmo tempo que permite destacar a cor e a excelência dos nossos morangos.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400"
        style="animation-delay: 400ms;">
        <img class="pr-lg-5 mr-lg-5 img-fluid" src="{{url_base}}/assets/img/products/detail/img/morango/morango-tabela-2.svg" alt="Embalagem">
      </div>
    </div>
  </div>
</section>
