<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="frutasclasse-overlay nectarina-slide">
          <div class="tp-caption"
						data-x="center"
						data-y="center" data-voffset="['350','500','500','600']"
						data-start="1000"
						data-transform_in="x:[300%];opacity:0;s:500;"
						data-transform_idle="opacity:1;s:500;"><a data-hash href="#detail"><img src="{{url_base}}/assets/img/icons/down-arrow.svg" alt="Arrow"></a></div>
			</li>
		</ul>
	</div>
</div>

<div class="container-fluid light-bg appear-animation" data-appear-animation="fadeIn" id="detail">
  <div class="row align-items-center pt-5 pt-lg-0">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
      <div class="px-lg-5 mx-lg-5 my-lg-5">
        <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left texto-nectarina text-7 text-md-10">Nectarinas</h2>
        <p class="mb-lg-5 pb-lg-5 mr-lg-5 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0 dark-text text-justify text-lg-left text-3 text-lg-4">Embora possam ser confundidas com os pêssegos, as nectarinas não possuem pele aveludada. De formato oval ou redondo, as nectarinas caracterizam-se pela sua polpa suculenta, que pode ser amarela, branca ou avermelhada.
  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-right mb-md-0 px-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/products/detail/img/nectarina/nectarina.png" class="img-fluid" alt="Nectarina">
    </div>
  </div>
</div>

<div class="container-fluid bg-pear2 py-lg-5 bg-nectarina appear-animation" data-appear-animation="fadeIn">
  <div class="row align-items-center py-xl-5 my-xl-5">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5 mt-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
    <div class="px-lg-5 mx-lg-5">
        <h2 class="mb-2 mb-lg-4 text-pear3 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left light-text text-7 text-md-10">Comercialização</h2>
        <p class="mb-lg-5 pb-lg-5 text-pear3 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0 light-text text-justify text-lg-left text-3 text-lg-4">De paladar fresco e muito agradável, as nectarinas têm nos meses de verão a sua época de produção e comercialização - razão pela qual são também associados aos dias mais quentes. Mais consumidas ao natural, podem ser também utilizadas em compotas ou geleias.
  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible mb-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/products/detail/img/nectarina/nectarina-tabela-1.svg" class="img-fluid" alt="Comercialização">
    </div>
  </div>
</div>

<section class="appear-animation" data-appear-animation="fadeIn">
<img src="{{url_base}}/assets/img/products/detail/bottom-banner/nectarina.png" alt="Nectarina" class="img-fluid p-0">
</section>


<section class="call-to-action call-to-action-frutasclasse-2 pt-5 appear-animation frutasclasse-parallax-5" data-appear-animation="fadeIn">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 py-lg-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
        <div class="px-lg-5 mx-lg-5 my-lg-5">
          <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left text-7 text-md-10 texto-nectarina">A nossa embalagem</h2>
          <p class="mb-lg-5 pb-lg-5 axiforma-regular frutasclasse-products-simple-text dark-text text-justify text-lg-left text-3 text-lg-4">As nectarinas são frutas ricas em vitaminas e minerais, e a sua utilização na alimentação regular permite regular muitas funções fisiológicas e a melhorar a qualidade de vida. De forma a garantir que todas essas propriedades se mantêm intactas durante todo o processo, apostamos numa embalagem de elevada qualidade, cumprindo todos os parâmetros de segurança.
    </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
        <img src="{{url_base}}/assets/img/products/detail/img/nectarina/nectarina-tabela-2.svg" class="img-fluid" alt="Embalagem">
      </div>
    </div>
  </div>
</section>
