<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="frutasclasse-overlay pera-slide">
          <div class="tp-caption"
						data-x="center"
						data-y="center" data-voffset="['350','500','500','600']"
						data-start="1000"
						data-transform_in="x:[300%];opacity:0;s:500;"
						data-transform_idle="opacity:1;s:500;"><a data-hash href="#detail"><img src="{{url_base}}/assets/img/icons/down-arrow.svg" alt="Arrow"></a></div>
			</li>
		</ul>
	</div>
</div>

<div class="container-fluid light-bg appear-animation" data-appear-animation="fadeIn" id="detail"">
  <div class="row align-items-center pt-5 pt-lg-0">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
    <div class="px-lg-5 mx-lg-5 my-lg-5">
        <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left texto-pera_rocha text-7 text-md-10">Pera Rocha</h2>
        <p class="mb-lg-5 pb-lg-5 mr-lg-5 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0 dark-text text-justify text-lg-left text-3 text-lg-4">A pera é um dos frutos mais apreciados e um excelente aliado numa alimentação saudável, pela suas propriedades saciantes e diuréticas. <br>Unicamente produzida na região Oeste de Portugal, a Pera Rocha, beneficia da designação “Denominação de Origem Protegida”.
  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-right mb-md-0 px-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/products/detail/img/pera_rocha/pera_rocha.png" class="img-fluid" alt="Pera">
    </div>
  </div>
</div>

<div class="container-fluid py-lg-5 bg-pera_rocha appear-animation" data-appear-animation="fadeIn">
  <div class="row align-items-center py-xl-5 my-xl-5">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 px-md-5 mt-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
      <div class="px-lg-5 mx-lg-5">
        <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left light-text text-7 text-md-10">Comercialização</h2>
        <p class="mb-lg-5 pb-lg-5 axiforma-regular frutasclasse-products-simple-text px-2 px-md-0 text-justify text-lg-left text-3 text-lg-4">A nossa pera rocha caracteriza-se pela sua cor amarela ou verde clara e pela carepa sempre presente. Quando madura, adquire um tom amarelo, tornando-se sumarenta, macia, doce e muito sucosa. A sua época de comercialização realiza-se de agosto a maio.
  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible mb-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/products/detail/img/pera_rocha/pera_rocha-tabela-1.svg" class="img-fluid" alt="Comercialização">
    </div>
  </div>
</div>

<section class="appear-animation" data-appear-animation="fadeIn">
<img src="{{url_base}}/assets/img/products/detail/bottom-banner/pera_rocha.png" alt="Pera" class="img-fluid p-0">
</section>


<section class="call-to-action call-to-action-frutasclasse-2 pt-5 appear-animation frutasclasse-parallax-4" data-appear-animation="fadeIn">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-7 col-xl-6 appear-animation animated fadeInLeftShorter appear-animation-visible px-3 py-lg-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
        <div class="px-lg-5 mx-lg-5 my-lg-5">
          <h2 class="mb-2 mb-lg-4 axiforma-semi-bold frutasclasse-title-middle text-center text-md-left text-7 text-md-10 texto-pera_rocha">A nossa embalagem</h2>
          <p class="mb-lg-5 pb-lg-5 axiforma-regular frutasclasse-products-simple-text dark-text text-justify text-lg-left text-3 text-lg-4">A qualidade dos nossos produtos deve ser assegurada até chegar à sua mesa. Para isso, apostamos numa embalagem que protege as nossas Peras Rocha de todas as possíveis agressões do exterior, mantendo intactas todas as qualidades e sabor deste fruto de excelência.
    </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
        <img class="pr-lg-5 mr-lg-5 img-fluid" src="{{url_base}}/assets/img/products/detail/img/pera_rocha/pera_rocha-tabela-2.svg" alt="Embalagem">
      </div>
    </div>
  </div>
</section>
