<section class="page-header page-header-modern page-header page-header-modern bg-color-primary page-header-md m-0">
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-md-12 align-self-center p-static order-2 text-center">
        <h1 class="text-light text-10"><strong>Pesquisa</strong></h1>
        <span class="sub-title">{{module_data.produtos|length}} resultados para <strong>{{parametro}}</strong></span>
      </div>
    </div>
  </div>
</section>
<hr class="m-0">
<div class="container py-5 mt-3">
  <div class="row">
    <div class="col">
      <h2 class="font-weight-normal text-7 mb-0">A mostrar resultados para <strong class="font-weight-extra-bold">{{parametro}}</strong></h2>
      <p class="lead mb-0 text-dark">{{module_data.produtos|length}} resultados encontrados.</p>
    </div>
  </div>
  <div class="row">
    <div class="col pt-2 mt-1">
      <hr class="my-4">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="simple-post-list m-0">
        {% for produto in module_data.produtos %}
        {% if produto.nome|length > 1 %}
        <li>
          <div class="post-info">
            <a href="{{url_base}}/produtos/detalhe/{{ produto.id|e }}">{{ produto.nome|e }}</a>
            <div class="post-meta">
               <span class="text-white text-uppercase font-weight-semibold">{{ produto.marca|e }}</span> {{ produto.categoria|e }}
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
