<div class="slider-container rev_slider_wrapper" style="height: 500px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade" class="frutasclasse-overlay recrutamento-slide">
        <!-- <img src="{{url_base}}/assets/img/slides/slide-recrutamento.png"
          alt=""
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg"> -->
          <div class="tp-caption font-weight-light text-center ws-normal"
  					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
  					data-x="center"
  					data-y="center" data-voffset="['8','20','30','150']"
  					data-width="['1070','1070','1070','1300']"
  					data-fontsize="['40','60','60','50']"
  					data-lineheight="['69','69','69','100']"
  					style="color: #e0e0e0;"><strong class="text-color-light axiforma-extra-bold">Preencha o formulário para se candidatar.</strong></div>
      </li>
    </ul>
  </div>
</div>
<section class="call-to-action call-to-action-frutasclasse-2 py-sm-5">
  <div class="container frutasclasse-bg-2 d-flex justify-content-center px-0">
    <div class="row align-items-center">
      <div class="col-xl-12 px-sm-5 appear-animation" data-appear-animation="fadeIn">
        <div class="row py-lg-5">
          <div class="col-12 text-center pb-sm-3">
            <div class="call-to-action-content appear-animation" data-appear-animation="zoomIn">
              <div class="frutasclass-title pb-5 mt-lg-4">
                <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace2.svg" alt="Trace"></span>
                <span><p class="axiforma-light text-5 mb-0 px-2 frutasclasse-color-2 text-uppercase">Recrutamento</p></span>
                <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace2.svg" alt="Trace"></span>
              </div>
              <div class="frutasclass-title">
                <span><p class="axiforma-light text-4 mb-0 px-2 frutasclasse-color-2 text-uppercase">Preencha o formulário abaixo</p></span>
              </div>
            </div>
          </div>
    			<div class="col-12 px-4 px-lg-0">
    				<form id="contactForm" class="frutasclasse-form" action="javascript:void(0);" method="POST" novalidate="novalidate">
    					<div class="contact-form-success alert alert-success d-none" id="contactSuccess">
    						A sua mensagem foi enviada!
    					</div>
    					<div class="contact-form-error alert alert-danger d-none" id="contactError">
    						Erro ao enviar mensagem!
    						<span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
    					</div>
    					<div class="form-row appear-animation" data-appear-animation="zoomIn">
    						<div class="form-group-contact col">
    							<input type="text" value="" data-msg-required="Por favor preencha o seu nome." maxlength="100" class="form-control" name="name" required="" placeholder="Nome*">
    						</div>
    					</div>
              <div class="form-row mt-2 appear-animation" data-appear-animation="zoomIn">
    						<div class="form-group-contact col-12 col-lg-5">
    							<input type="text" value="" data-msg-required="Por favor preencha a sua nacionalidade." maxlength="100" class="form-control" name="citizenship" required="" placeholder="Nacionalidade*">
    						</div>
                <div class="form-group-contact col-12 col-lg-5 offset-lg-2">
    							<input type="text" value="" data-msg-required="Por favor preencha a sua data de nascimento." maxlength="100" class="form-control" name="birth" required="" placeholder="Data de Nascimento*">
    						</div>
    					</div>
              <div class="form-row appear-animation" data-appear-animation="zoomIn">
    						<div class="form-group-contact col">
    							<input type="email" value="" data-msg-required="Por favor preencha o seu email." maxlength="100" class="form-control" name="email" required="" placeholder="E-mail*">
    						</div>
    					</div>
              <div class="form-row appear-animation" data-appear-animation="zoomIn">
    						<div class="form-group-contact col">
    							<input type="email" value="" data-msg-required="Por favor preencha o seu código-postal" maxlength="100" class="form-control" name="postal" required="" placeholder="Código-Postal*">
    						</div>
    					</div>
    					<div class="form-row appear-animation" data-appear-animation="zoomIn">
    						<div class="form-group-contact col">
    							<textarea maxlength="5000" data-msg-required="Por favor preencha a carta de motivação." rows="3" class="form-control" name="message" required="" placeholder="Carta de Motivação"></textarea>
    						</div>
    					</div>
              <div class="form-group row pt-5 appear-animation" data-appear-animation="zoomIn">
                <div class="col">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label-frutasclasse" for="customFile">Anexar C.V* (.PDF, .DOC, .DOCX)</label>
                    <img src="{{url_base}}/assets/img/icons/anexo.svg" alt="Anexo">
                  </div>
                </div>
              </div>
              <div class="form-row mt-4 appear-animation" data-appear-animation="zoomIn">
                <div class="form-group col-lg-9 mt-4">
                  <input type="checkbox" class="custom-control-input float-right" id="customCheck1">
                  <label class="custom-control-label float-right" for="customCheck1">Li e aceito a partilha de dados</label>
                </div>
    						<div class="form-group col-lg-3 mt-1 appear-animation" data-appear-animation="zoomIn">
    							<button type="submit" value="Enviar" class="btn btn-outline btn-rounded btn-light mb-2 float-right my-md-3" data-loading-text="A enviar...">Enviar</button>
    						</div>
    					</div>
    				</form>
    			</div>
    		</div>
      </div>
    </div>
  </div>
</section>
