<div class="slider-container rev_slider_wrapper" style="height: 500px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade" class="frutasclasse-overlay noticias-slide">
        <!-- <img src="{{url_base}}/assets/img/slides/slide-noticias.png"
          alt=""
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg"> -->
          <div class="tp-caption font-weight-light text-center ws-normal"
  					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
  					data-x="center"
  					data-y="center" data-voffset="['8','20','20','150']"
  					data-width="['870','870','870','1000']"
  					data-fontsize="['40','60','60','50']"
  					data-lineheight="['69','69','69','100']"
  					style="color: #e0e0e0;"><strong class="text-color-light axiforma-extra-bold">Esteja a par das últimas notícias.</strong></div>
      </li>
    </ul>
  </div>
</div>
<div class="container py-4 my-sm-5 appear-animation" data-appear-animation="fadeIn">
  <div class="row">
    <div class="col">
      <div class="blog-posts">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <article class="post post-medium border-0 pb-0 mb-sm-5">
              <div class="post-image">
                <a href="javascript:void(0);">
                  <img src="{{url_base}}/assets/img/news/new1.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Imagem" />
                </a>
              </div>
              <div class="post-content frutasclasse-news-bg">
                <p class="news-title pt-4">Alimentação saudável é preocupação de 70% dos portugueses</p>
                <p class="axiforma-light">Números avançados pelo estudo da agência Nielsen</p>
                <div class="post-meta news-bottom-align pb-3">
                  <hr />
                  <span class="axiforma-bold text-uppercase pr-0">Marketteer</span>
                  <span class="axiforma-medium frutasclasse-color-2 text-uppercase pl-0">- 15 abril 2020</span>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
              <article class="post post-medium border-0 pb-0 mb-sm-5">
              <div class="post-image">
                <a href="javascript:void(0);">
                  <img src="{{url_base}}/assets/img/news/new2.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Imagem" />
                </a>
              </div>
              <div class="post-content frutasclasse-news-bg">
                <p class="news-title pt-4">5 benefícios das laranjas</p>
                <p class="axiforma-light">Fique a conhecer as vantagens para a saúde</p>
                <div class="post-meta news-bottom-align pb-3">
                  <hr />
                  <span class="axiforma-bold text-uppercase pr-0">Blog</span>
                  <span class="axiforma-medium frutasclasse-color-2 text-uppercase pl-0">- 15 abril 2020</span>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="post post-medium border-0 pb-0 mb-5">
              <div class="post-image">
                <a href="javascript:void(0);">
                  <img src="{{url_base}}/assets/img/news/new3.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Imagem" />
                </a>
              </div>
              <div class="post-content frutasclasse-news-bg">
                <p class="news-title pt-4">Presença na Fruit Logistic foi “um verdadeiro sucesso”</p>
                <p class="axiforma-light">Certame decorreu entre os dias 5 e 7 de fevereiro em Berlim</p>
                <div class="post-meta news-bottom-align pb-3">
                  <hr />
                  <span class="axiforma-bold text-uppercase pr-0">Blog</span>
                  <span class="axiforma-medium frutasclasse-color-2 text-uppercase pl-0">- 15 abril 2020</span>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="post post-medium border-0 pb-0 mb-5">
              <div class="post-image">
                <a href="javascript:void(0);">
                  <img src="{{url_base}}/assets/img/news/new4.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Imagem" />
                </a>
              </div>
              <div class="post-content frutasclasse-news-bg">
                <p class="news-title pt-4">Produção de maçã em Portugal em máximos de 33 anos</p>
                <p class="axiforma-light">Produção deve chegar às 354.000 toneladas de maçãs este ano</p>
                <div class="post-meta news-bottom-align pb-3">
                  <hr />
                  <span class="axiforma-bold text-uppercase pr-0">Idealista</span>
                  <span class="axiforma-medium frutasclasse-color-2 text-uppercase pl-0">- 15 abril 2020</span>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="post post-medium border-0 pb-0 mb-5">
              <div class="post-image">
                <a href="javascript:void(0);">
                  <img src="{{url_base}}/assets/img/news/new5.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Imagem" />
                </a>
              </div>
              <div class="post-content frutasclasse-news-bg">
                <p class="news-title pt-4">6 receitas com pêra</p>
                <p class="axiforma-light">Conheça algumas sugestões </p>
                <div class="post-meta news-bottom-align pb-3">
                  <hr />
                  <span class="axiforma-bold text-uppercase pr-0">Blog</span>
                  <span class="axiforma-medium frutasclasse-color-2 text-uppercase pl-0">- 15 abril 2020</span>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="post post-medium border-0 pb-0 mb-5">
              <div class="post-image">
                <a href="javascript:void(0);">
                  <img src="{{url_base}}/assets/img/news/new6.png" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Imagem" />
                </a>
              </div>
              <div class="post-content frutasclasse-news-bg">
                <p class="news-title pt-4">Produção de morangos aumenta 20% em 2019</p>
                <p class="axiforma-light">Zona Oeste do país foi o que mais contribui para a subida</p>
                <div class="post-meta news-bottom-align pb-3">
                  <hr />
                  <span class="axiforma-bold text-uppercase pr-0">Diário Económico </span>
                  <span class="axiforma-medium frutasclasse-color-2 text-uppercase pl-0">- 15 abril 2020</span>
                </div>
              </div>
            </article>
          </div>
</div>
        <!-- <div class="row">
          <div class="col">
            <ul class="pagination float-right">
              <li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="fas fa-angle-left"></i></a></li>
              <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
              <a class="page-link" href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
