
<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider frutasclasse-bg-3" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="">
					<h1 class="tp-caption font-weight-bold axiforma-semi-bold frutasclasse-title-big frutasclasse-color-1"
						data-x="['left','left','center','center']"
						data-y="['center','center','center','center']"
						data-voffset="['-140','-140','-120','-170']"
						data-hoffset="['-100','100','0','0']"
						data-start="700"
						data-fontsize="['45','40','85','100']"
						data-transform_in="y:[-50%];opacity:0;s:500;"
						>
						Frutas Classe
					</h1>
        <p class="tp-caption font-weight-light text-left ws-normal text-white frutasclasse-products-simple-text"
          data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
					data-x="['left','left','center','center']"
					data-y="['center','center','center','center']"
					data-hoffset="['-100','100','0','0']"
					data-voffset="['70','100','200','200']"
          data-width="['570','500','1000','1000']"
					data-fontsize="['20','22','40','45']"
          data-lineheight="['39','39','50','55']">
					Desde 2001, a Frutas Classe tem evoluído e crescido continuamente, procurado reforçar a sua gama de produtos e garantir um abastecimento de produtos de exceleria no mercado. Atualmente, a Frutas Casse é uma da maiores empresas portuguesas dedicadas à produção, comercialização e distribuição de frutas e legumes, com presença nos mercados nacional, europeu e asiático.</p>
				<div class="tp-caption text-color-light font-weight-normal animate-leaf"
					data-x="['right','right','center','center']"
					data-y="['center','center','top','top']"
					data-hoffset="['0','0','0','0']"
					data-voffset="['0','0','-150,'-300']"
					data-start="700"
					data-fontsize="['16','10','10','40']"
					data-lineheight="['25','25','25','45']"
					data-transform_in="y:[-50%];opacity:0;s:500;"><img src="{{url_base}}//assets/img/logos/frutasclasse.svg" alt=""></div>
      <div class="tp-caption"
				data-x="['center','center','center','center']"
				data-y="['center','center','center','center']"
				data-hoffset="['0','0','0','0']"
				data-voffset="['350','500','500','600']"
				data-start="5000"
				data-transform_in="x:[300%];opacity:0;s:500;"
				data-transform_idle="opacity:1;s:500;"><a data-hash href="#detail"><img src="{{url_base}}//assets/img/icons/down-arrow.svg" alt=""></a></div>
			</li>
		</ul>
	</div>
</div>

<!-- <div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider frutasclasse-bg-3" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="">

        <div class="tp-caption font-weight-bold text-left ws-normal frutasclasse-color-1"
          data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-x="left"
					data-hoffset="['-100','-100','-100','-275']"
          data-y="center"
					data-voffset="['-178','-178','-178','-240']"
          data-width="['870','870','870','1300']"
          data-fontsize="['40','40','40','20']"
          data-lineheight="['69','69','69','100']"><strong class="axiforma-semi-bold frutasclasse-title-big">Frutas Classe</strong></div>

        <div class="tp-caption font-weight-light text-left ws-normal text-white"
          data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-x="left" data-hoffset="['-100','-100','-100','-275']"
          data-y="center" data-voffset="['38','38','38','100']"
          data-width="['570','570','570','1100']"
          data-lineheight="['39','39','39','70']"><span class="frutasclasse-products-simple-text">Desde 2001, a Frutas Classe tem evoluído e crescido continuamente, procurado reforçar a sua gama de produtos e garantir um abastecimento de produtos de exceleria no mercado.<br> Atualmente, a Frutas Casse é uma da maiores empresas portuguesas dedicadas à produção, comercialização e distribuição de frutas e legumes, com presença nos mercados nacional, europeu e asiático.</span></div>

				<div class="tp-caption text-color-light font-weight-normal animate-leaf"
					data-x="right" data-hoffset="['-100','-100','-100','-275']"
					data-y="center"
					data-start="700"
					data-fontsize="['16','16','16','40']"
					data-lineheight="['25','25','25','45']"
					data-transform_in="y:[-50%];opacity:0;s:500;"><img src="{{url_base}}//assets/img/logos/frutasclasse.svg" alt=""></div>

      <div class="tp-caption"
				data-x="center"
				data-y="center" data-voffset="['350','350','350','390']"
				data-start="5000"
				data-transform_in="x:[300%];opacity:0;s:500;"
				data-transform_idle="opacity:1;s:500;"><a data-hash href="#next"><img src="{{url_base}}//assets/img/icons/down-arrow.svg" alt=""></a></div>
			</li>
		</ul>
	</div>
</div> -->

<div id="detail" class="container-fluid frutasclasse-bg-5">
  <div class="row align-items-center py-5">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation" data-appear-animation="fadeIn">
      <div class="px-lg-5 mx-lg-5">
        <h2 class="mb-5 text-dark axiforma-semi-bold frutasclasse-title-big px-xl-5 mx-xl-5 text-center text-xl-left pt-lg-4">Amorango</h2>
        <p class="mb-5 pb-3 text-dark frutasclasse-products-simple-text px-xl-5 mx-xl-5">A Amorango é uma marca da Frutas Classe, dedicada à comercialização de morangos. Resulta da decisão estratégica da empresa, que percebeu, a falta deste produto no mercado português, e que permite à Frutas Classe garantir ao mercado português a exclusividade do abastecimento de morangos durante o segundo semestre do ano, acontecimento que não se verificava até 2010.
  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/logos/amorango.svg" class="img-fluid" alt="Amorango" class="appear-animation" data-appear-animation="fadeIn">
    </div>
  </div>
</div>
<div id="next" class="container-fluid">
  <div class="row align-items-center py-5">
    <div class="col-md-6 col-lg-7 col-xl-6 appear-animation" data-appear-animation="fadeIn">
			   <div class="px-lg-5 mx-lg-5">
        <h2 class="mb-5 axiforma-semi-bold frutasclasse-title-big frutasclasse-color-5 px-xl-5 mx-xl-5 text-center text-xl-left pt-lg-4">Mimo</h2>
        <p class="mb-5 pb-3 text-dark frutasclasse-products-simple-text px-xl-5 mx-xl-5">A natureza é uma fonte de recursos valiosos e saborosos. A marca Mimo foi criada para dar aos consumidores os melhores sabores da natureza, com produtos de grande qualidade e um sabor delicado e apaixonante.
  </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-6 text-center pr-lg-5 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
      <img src="{{url_base}}/assets/img/logos/mimo.svg" class="img-fluid" alt="Mimo" class="appear-animation" data-appear-animation="fadeIn">
    </div>
  </div>
</div>
