<div class="slider-container rev_slider_wrapper" style="height: 500px;">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider
    data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
    <ul>
      <li data-transition="fade" class="frutasclasse-overlay politica-slide">

        <div class="tp-caption font-weight-light text-center ws-normal"
          data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-x="center" data-y="center" data-voffset="['8','20','30','150']" data-width="['1070','1070','1070','1300']" data-fontsize="['40','60','60','50']" data-lineheight="['69','69','69','100']" style="color: #e0e0e0;"><strong
            class="text-color-light axiforma-extra-bold">Política de Privacidade</strong></div>
      </li>
    </ul>
  </div>
</div>
<section class="frutasclasse-bg-7 py-sm-5 appear-animation" data-appear-animation="fadeIn">
  <div class="container-fluid container-lg pt-lg-5 px-4 px-lg-5 py-5">
    <div class="row">
      <div class="col-12">
        <p class="text-lg-4">
          A Frutas Classe S.A., doravante Frutas Classe, disponibiliza a todos os utilizadores dos websites www.frutasclasse.com e www.frutasclasse.pt a seguinte Política de Privacidade, com o objetivo de fornecer informações relativas ao modo de
          tratamento e privacidade de dados pessoais. A presente Política de Privacidade é aplicável ao website da Frutas Classe, sendo igualmente aplicável ao conjunto de interações que os utilizadores tenham no website acima referido. Deste modo, a
          Frutas Classe aconselha a todos os utilizadores uma leitura atenta de todo o conteúdo da nossa Política de Privacidade.
        </p>
        <p class="text-lg-4">A Frutas Classe poderá alterar a presente Política de Privacidade sempre que necessário. Caso seja modificada, todos os utilizadores serão comunicados através do nosso website ou outro meio de comunicação, de forma a
          garantir que é informado dos novos termos de privacidade em vigor. Para continuar a usufruir do nosso website após a comunicação das eventuais alterações, tal significa que se mantém de acordo com os novos termos, salvo os fins para os
          quais seja necessário o seu consentimento expresso.</p>
        <p class="axiforma-regular text-5 frutasclasse-color-2 mt-5">Dados pessoais</p>
        <p class="text-lg-4">
          A Frutas Classe, no decorrer da sua atividade, procede à recolha e tratamento dos seus dados pessoais necessários à prestação de serviços e fornecimento de produtos, tratando dados como o nome, morada, idade, número de identificação pessoal
          e fiscal, contacto telefónico e endereço de correio eletrónico.
        </p>
        <p class="text-lg-4">A Frutas Classe poderá recolher outros dados, consoante o momento e a atividade que pretenda desenvolver.</p>
        <p class="axiforma-regular text-5 frutasclasse-color-2 mt-5">Quem é o responsável pelo tratamento dos seus dados pessoais?</p>
        <p class="text-lg-4">Os dados serão recolhidos diretamente junto do titular, garantindo sempre a Frutas Classe a obtenção do consentimento prévio e a prestação de todas as informações legalmente exigidas. No caso de os dados serem recolhidos
          no âmbito de uma obrigação legal ou no cumprimento de um contrato, esse consentimento poderá ser dispensado. </p>
        <p class="text-lg-4">A Frutas Classe recolhe os dados por escrito ou através do seu website, mediante o consentimento do titular. Os dados pessoais são recolhidos quando o cliente interage com os serviços ou campanhas prestadas pela Frutas
          Classe. </p>
        <p class="text-lg-4">Alguns dos dados pessoais são de fornecimento obrigatório e, em caso de falta ou insuficiência dos mesmos, a Frutas Classe poderá não disponibilizar o produto/serviço em causa. Nestas situações, os clientes serão
          informados de imediato quanto à natureza do fornecimento dos dados.</p>
        <p class="axiforma-regular text-5 frutasclasse-color-2 mt-5">Transferência de Dados</p>
        <p class="text-lg-4">A Frutas Classe não transfere os seus dados de propriedade.</p>
        <p class="axiforma-regular text-5 frutasclasse-color-2 mt-5">Período de conservação de dados</p>
        <p class="text-lg-4">Salvo por motivos legais ou indicação em contrário, os dados recolhidos serão conservados apenas pelo período estritamente necessário à prossecução das finalidades do tratamento, garantindo-se a sua remoção assim que
          cesse a finalidade.</p>
        <p class="axiforma-regular text-5 frutasclasse-color-2 mt-5">Os seus direitos</p>
        <ul class="axiforma-regular privacy-list text-lg-4 pl-0">
          <li>
            <p class="axiforma-bold mb-0">Direito à limitação do tratamento</p>
            <p>Tem o direito de aceder aos seus dados pessoais de modo a saber quais estamos a tratar. </p>
          </li>
          <li>
            <p class="axiforma-bold mb-0">Direito ao acesso e retificação</p>
            <p>Em determinadas circunstâncias, têm o direito de corrigir os seus dados pessoais nas situações em que considerar que estes não estão corretos. Também poderá pedir a remoção dos seus dados pessoais
              quando, entre outros motivos, os dados já não forem necessários para as finalidades para que foram recolhidos. </p>
          </li>
          <li>
            <p class="axiforma-bold mb-0">Direito à oposição</p>
            <p>Em determinadas circunstâncias, e dependendo da sua situação pessoal, poderá opor-se ao tratamento dos seus dados pessoais. Nesse caso, deixaremos de tratar os seus dados, a não ser que devamos continuar a trata-los
              por motivos legais ou para finalidades relacionadas com o exercício ou a defesa de possíveis ações legais.
          </li>
          <li>
            <p class="axiforma-bold mb-0">Direito à portabilidade</p>
            <p>Em circunstâncias específicas, terá o direito de receber da nossa parte, num formato estruturado, comum e mecanicamente legível, os dados pessoais que nos tenha proporcionado. Terá igualmente o direito de pedir
              que estes sejam transferidos para outro responsável pelo tratamento de dados pessoais.
          </li>
        </ul>
        <p class="axiforma-regular text-5 frutasclasse-color-2 mt-5">Exercício de direitos</p>
        <p class="text-lg-4">Todos os direitos enunciados poderão ser exercidos de forma gratuita para o e-mail info@frutasclasse.pt Informamos ainda que lhe assiste o direito de apresentar uma reclamação perante a autoridade de controlo competente,
          especialmente quando, junto do responsável pelo tratamento, não tenha obtido satisfação no exercício dos seus direitos.</p>
        <p class="axiforma-regular text-5 frutasclasse-color-2 mt-5">Confidencialidade</p>
        <p class="text-lg-4">A Frutas Classe garante que toda a informação que nos é prestada é considerada confidencial. A Frutas Classe não vende, distribui ou procede a qualquer tipo de negócio com a informação e os dados pessoais que nos são por
          si disponibilizados.</p>
        <p class="axiforma-regular text-5 frutasclasse-color-2 mt-5">Política de Cookies</p>
        <p class="text-lg-4">A leitura desta política é importante, pois ao continuar a navegar no nosso website concorda com o uso de cookies no seu browser e dispositivos utilizados, exceto se os tiver desativado.</p>
        <p class="axiforma-regular text-5 frutasclasse-color-2 mt-5">O que são cookies?</p>
        <p class="text-lg-4">
        <p class="text-lg-4">Os cookies são pequenos ficheiros de texto com informação relevante que o seu dispositivo de acesso (computador, telemóvel/smartphone ou tablet) carrega, através do navegador de internet (browser), quando um site é
          visitado pelo utilizador. Saiba mais sobre cookies em: AllAboutCookies.org. </p>
        <p class="text-lg-4">
        <p class="text-lg-4">Estes ficheiros permitem que durante um certo período de tempo o site se «lembre» das suas ações e preferências. </p>
        <p class="text-lg-4">
        <p class="text-lg-4">Os cookies utilizados não recolhem informação que identifica o utilizador, recolhem sim informações genéricas, designadamente a forma como os utilizadores chegam e utilizam os sites ou a zona do país/países através do
          qual acedem ao site, etc.</p>
        <p class="text-lg-4">
        <p class="text-lg-4">É por isso que quando percorre as páginas de um site ou regressa a um site que já visitou não tem, em princípio, de voltar a indicar as suas preferências ou introduzir repetidamente as mesmas informações.</p>
        <p class="axiforma-regular text-5 frutasclasse-color-2 mt-5">Que tipo de cookies utilizamos</p>
        <ul class="axiforma-regular privacy-list text-lg-4 pl-0">
          <li>
            <p class="axiforma-bold mb-0">Cookies essenciais ou de sessão:</p>
            <p>Alguns cookies são essenciais para aceder a áreas específicas do nosso site. Estes são necessários para algumas áreas do site funcionarem, mas não são utilizados de forma alguma para o identificar
              pessoalmente. Os cookies de sessão são temporários e são automaticamente eliminados uma vez que saia do site. Estes cookies não podem ser desativados, pois são essenciais ao bom funcionamento do site.</p>
          </li>
          <li>
            <p class="axiforma-bold mb-0">Cookies de funcionalidade:</p>
            <p>Utilizamos estes cookies para nos permitir relembrar as preferências do utilizador. Por exemplo, os cookies evitam digitar o nome do utilizador cada vez que este acede ao site. Não são necessários para que o
              site funcione, mas podem melhorar a experiência do cliente. Não armazenamos quaisquer dados pessoais nestes cookies.</p>
          </li>
          <li>
            <p class="axiforma-bold mb-0">Cookies analíticos / desempenho:</p>
            <p>Utilizamos estes cookies para analisar a forma como os utilizadores usam o site e monitorizar a performance deste. Por exemplo, permitem- nos saber quais as páginas mais populares, qual o método de
              ligação entre páginas que é mais eficaz, ou determinar a razão de algumas páginas estarem a receber mensagens de erro. Estes cookies são utilizados apenas para efeitos de criação e análise estatística, sem nunca recolher informação de
              caráter pessoal.</p>
          </li>
          <li>
            <p class="axiforma-bold mb-0">Cookies que enviam informação para outras empresas:</p>
            <p> São cookies configurados no nosso website por uma empresa parceira (ex: Facebook ou anunciantes). Estas empresas podem utilizar os dados recolhidos destes cookies para anonimamente
              direcionar publicidade para si noutro website, tendo em conta a sua visita ao nosso website. Por exemplo, se usar uma ferramenta de uma rede social (ex: “Gosto” ou “Partilha” do Facebook) neste website, este cookie irá registar a
              utilização dessa ferramenta e a rede social (Facebook, neste caso) poderá recolher esta informação.</p>
          </li>
        </ul>
        <p class="text-lg-4"><span class="axiforma-bold">ATENÇÃO:</span> Ao desabilitar cookies algumas funcionalidades poderão não estar disponíveis.</p>
        <p class="axiforma-regular text-5 frutasclasse-color-2 mt-5">Como controlar as cookies</p>
        <p class="text-lg-4">O utilizador pode, a qualquer momento e através do seu navegador de internet (browser), decidir ser notificado sobre a receção de cookies, bem como bloquear a respetiva entrada no seu sistema. Salienta-se, no entanto, que
          com a recusa de uso de cookies corre o risco de desativar determinados serviços e funcionalidades do site.</p>
        <p class="text-lg-4">Para mais informação para controlo e/ou apagar os cookies consultar a ajuda do seu browser ou AllAboutCookies.org</p>
      </div>
    </div>
  </div>
</section>
