/* Add here all your CSS customizations */
textarea {
  border: 1px solid #999999;
  margin: 5px 0;
  padding: 3px;
}

.custom-control-label::before {
  border: #A44529 solid 1px !important;
  background: #F9E7CE;
}

.news-bottom-align {
position: absolute;
bottom: 3rem;
width: 90%;
}

.home-box-align {
  position: absolute;
  bottom: 5rem;
  width: 30%;

}

.news-title {
height: 5rem;
}

.post-content-homenews {
  height: 19rem;
}

.drop {
  color: #363636;
font-size: 0.8em;
font-weight: 400;
padding: 6px 18px 6px 18px;
position: relative;
text-transform: none;
letter-spacing: -0.5px;
font-family: Axiforma Bold, Open Sans;
text-transform: uppercase;
text-align: center;
}

.hidden {
  display: none !important;
}

.header-logo a {
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  background-color: #F9E7CE;
}

.language-item {
  font-family: Axiforma Bold, Open Sans;
  color: #F9E7CE;
}

.language-item:hover, .language-item:active, .language-item:focus {
  text-decoration: none;
  color: #F9E7CE;
}

.above-footer {
  background: #A44529;
  padding: 1.5rem;
  border-bottom: 1px solid #FFFFFF;
  color: #ffffff;
}

.sobre-text-block {
  padding: 5em 0;
}

.sobre-text-block h4 {
  vertical-align: top;
  padding: 0 1em 1em 1em;
  font-size: 2.5em;
  font-weight: normal;
  color: #363636;
  line-height: 1.2em;
  font-family: Axiforma Regular, Open Sans;
}

.sobre-text-block p {
  vertical-align: top;
  text-align: left;
  color: #363636;
  top: 0;
  font-family: Axiforma Bold, Open Sans;
  font-size: 1em;
}

.banner-div {
  padding: 4.5em;
  text-transform: none;
}

.banner-div h3 {
  font-weight: 800;
  color: #A44529;
  text-transform: none;
  letter-spacing: 1px;
  font-size: 2.3em;
  font-family: Axiforma Bold, Open Sans;
}

.banner-div h4 {
  font-weight: normal;
  color: #363636;
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: Axiforma Regular, Open Sans;
  padding-bottom: 1em;
}

.banner-div p {
  color: #363636;
  font-family: Axiforma Light, Open Sans;
}

.banner-list li span {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 1em;
}

.btn-frutasclasse {
  color: #ffffff;
  border: 1px #ffffff solid;
  border-radius: 50px;
  font-family: Axiforma Light, Open Sans;
}

.frutasclasse-filter li {
  padding: 0 1em;
  font-weight: bold;
}

.frutasclasse-form input[type=text], .frutasclasse-form input[type=email], .frutasclasse-form textarea, .frutasclasse-form input[type=text]:focus, .frutasclasse-form textarea:focus {
  color: #A44529 !important;
  font-family: Axiforma Regular, Open Sans !important;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #A44529;
  border-radius: 0px;
  padding: 2em 0 2.5em 0;
}

.frutasclasse-form input[type=text], .frutasclasse-form input[type=email], .frutasclasse-form textarea {
  margin: 1em 0;
}

.frutasclasse-form input[type=text]::placeholder, .frutasclasse-form input[type=email]::placeholder, .frutasclasse-form textarea::placeholder {
  color: #A44529 !important;
  font-family: Axiforma Medium, Open Sans !important;
}

.frutasclasse-form-2 input[type=text], .frutasclasse-form-2 input[type=email], .frutasclasse-form-2 textarea, .frutasclasse-form-2 input[type=text]:focus, .frutasclasse-form-2 textarea:focus {
  color: #fff !important;
  background-color: #907F4A;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px;
  padding: 0;
}

.frutasclasse-form-2 input[type=text], .frutasclasse-form-2 input[type=email], .frutasclasse-form-2 textarea {
  margin: 1em 0;
}

.frutasclasse-form-2 input[type=text]::placeholder, .frutasclasse-form-2 input[type=email]::placeholder, .frutasclasse-form-2 textarea::placeholder {
  color: #fff !important;
}

.frutasclasse-parallax {
  background-image: url('../img/parallax/parallax.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.frutasclasse-parallax-2 {
  background-image: url('../img/parallax/parallax2.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Morango */
.frutasclasse-parallax-3 {
  background-image: url('../img/parallax/parallax3.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-origin: content-box !important;background-origin: content-box !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/* Pera */
.frutasclasse-parallax-4 {
  background-image: url('../img/parallax/parallax4.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-origin: content-box !important;background-origin: content-box !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/* Nectarina */
.frutasclasse-parallax-5 {
  background-image: url('../img/parallax/parallax5.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-origin: content-box !important;background-origin: content-box !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/* Granny */
.frutasclasse-parallax-6 {
  background-image: url('../img/parallax/parallax6.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-origin: content-box !important;background-origin: content-box !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/* Royal */
.frutasclasse-parallax-7 {
  background-image: url('../img/parallax/parallax7.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-origin: content-box !important;background-origin: content-box !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/* Laranja */
.frutasclasse-parallax-8 {
  background-image: url('../img/parallax/parallax8.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-origin: content-box !important;background-origin: content-box !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/* Ameixa */
.frutasclasse-parallax-9 {
  background-image: url('../img/parallax/parallax9.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-origin: content-box !important;background-origin: content-box !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/* Butternut */
.frutasclasse-parallax-10 {
  background-image: url('../img/parallax/parallax10.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-origin: content-box !important;background-origin: content-box !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/* Batata Doce */
.frutasclasse-parallax-11 {
  background-image: url('../img/parallax/parallax11.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-origin: content-box !important;background-origin: content-box !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.frutasclasse-simple-text {
  font-size: 1.2em;
}

.frutasclasse-products-simple-text {
  font-size: 1.1em;
  line-height: 2em;
  font-family: Axiforma Regular, Open Sans !important;
}

.frutasclasse-projects-simple-text {
  font-size: 1.1em !important;
  line-height: 1.7em;
  font-family: Axiforma Regular, Open Sans !important;
}

.colaboradores-simple-text {
  font-size: 1.2em;
  color: #F9E7CE;
  font-family: Axiforma Regular, Open Sans;
  letter-spacing: 1px;
}

.frutasclasse-processos-2 {
  background-color: rgba(239, 65, 52, 0.70);
  max-height: 160px;
  min-height: 160px;
  text-align: center;
}

.frutasclasse-processos {
  background-color: rgba(144, 127, 74, 0.4);
  max-height: 160px;
  min-height: 160px;
  text-align: center;
}

.frutasclasse-news {
  border: 1px #ffffff solid !important;
  /* max-height: 270px; */
}

.frutasclasse-receitas-bg {
  background: #F9E7CE;
  min-height: 142px;
}

.frutasclasse-receitas-bg p, .frutasclasse-receitas-bg span {
  color: #08343A;
  padding: 0 2em;
  font-size: 0.9em;
}

.frutasclasse-news-bg {
  background: #F9E7CE;
}

.frutasclasse-news-bg p, .frutasclasse-news-bg span {
  color: #08343A;
  padding: 0 2em;
  font-size: 0.9em;
}

.frutasclasse-news-bg hr {
  border-top: 1px solid #707070;
  width: 85%;
  margin: 1em auto;
}

.frutasclasse-ingredientes {
  background-color: #fff;
  border: 2px solid #A44529;
}

.frutasclasse-color-1 {
  color: #F9E7CE;
}

.frutasclasse-bg-1 {
  background: #A44529;
  color: #ffffff;
}

.frutasclasse-bg-2 {
  background: #F9E7CE;
  color: #A44529;
}

.frutasclasse-bg-3 {
  background: #907F4A;
  color: #FFFFFF;
}

.frutasclasse-bg-4 {
  background: #EF4136;
  color: #FFFFFF;
}

.frutasclasse-bg-5 {
  background: #FFC56D;
  color: #000000;
}

.frutasclasse-bg-7 {
  background: #F9E7CE;
}

.frutasclasse-bg-7 p {
  color: #363636;
  line-height: 2rem;
  font-family: Axiforma Regular, Open Sans;
}

/* PRODUCT DETAILS  */
/* GENERIC  */
.light-text {
  color: #F9E7CE;
}

.dark-text {
  color: #363636;
}

.light-bg {
  background: #F9E7CE;
}

/* BACKGROUNDS */
.bg-morango {
  background: #EF4136 !important;
}

.bg-pera_rocha {
  background: #907F4A !important;
}

.bg-nectarina {
  background: #D85933 !important;
}

.bg-maca_granny {
  background: #75904A !important;
}

.bg-maca_royal {
  background: #AA2F2F !important;
}

.bg-laranja {
  background: #F28D27 !important;
}

.bg-ameixa {
  background: #833D3D !important;
}

.bg-butternut {
  background: #FAB44A !important;
}

.bg-batata_doce {
  background: #F06A64 !important;
}

/* FONT-COLORS  */
.texto-morango {
  color: #AF050F;
}

.texto-morango2 {
  color: #EF4136;
}

.texto-pera_rocha {
  color: #907F4A;
}

.texto-nectarina {
  color: #D85933;
}

.texto-maca_granny {
  color: #75904A;
}

.texto-maca_royal {
  color: #AA2F2F;
}

.texto-laranja {
  color: #F28D27;
}

.texto-ameixa {
  color: #833D3D;
}

.texto-butternut {
  color: #FAB44A;
}

.texto-batata_doce {
  color: #F06A64;
}

.frutasclass-title span {
  display: inline-block;
  vertical-align: bottom;
}

/* .frutasclasse-title-middle {
  font-size: 40px;
} */

.frutasclasse-title-big {
  font-size: 50px;
}

.frutasclasse-produtos-text {
  padding: 0px 4rem 0 15rem;
}

.frutasclasse-color-2 {
  color: #A44529 !important;
}

.frutasclasse-color-3 {
  color: #F9E7CE !important;
}

.frutasclasse-color-4 {
  color: #907F4A !important;
}

.frutasclasse-color-5 {
  color: #EF4136 !important;
}

.frutasclasse-color-6 {
  color: #AF050F !important;
}

.frutasclasse-counter {
  border: none !important;
  background-color: #F9E7CE !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #A44529 !important;
}

/* OVERLAY  */

.frutasclasse-overlay {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(144, 127, 74, 0.5) !important;
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation: frutasclassebg 10s;
  /* Chrome, Safari, Opera */
  animation: frutasclassebg 10s;
}

.home-slide {
  background-image: url('../img/slides/slide-1.png') !important;
}

/* .morango-slide {
  background-image: url('../img/slides/products/slide-morango.png') !important;
} */
.pera-slide {
  background-image: url('../img/slides/products/slide-pera.png') !important;
}
.nectarina-slide {
  background-image: url('../img/slides/products/slide-nectarina.png') !important;
}
.maca_granny-slide {
  background-image: url('../img/slides/products/slide-granny.png') !important;
}
.maca_royal-slide {
  background-image: url('../img/slides/products/slide-royal.png') !important;
}
.laranja-slide {
  background-image: url('../img/slides/products/slide-laranja.png') !important;
}
.ameixa-slide {
  background-image: url('../img/slides/products/slide-ameixa.png') !important;
}
.butternut-slide {
  background-image: url('../img/slides/products/slide-butternut.png') !important;
}
.batata_doce-slide {
  background-image: url('../img/slides/products/slide-batatadoce.png') !important;
}

.recrutamento-slide {
  background-image: url('../img/slides/slide-recrutamento.png') !important;
}

.noticias-slide {
  background-image: url('../img/slides/slide-noticias.png') !important;
}

.politica-slide {
  background-image: url('../img/slides/slide-politica.png') !important;
}

/* Chrome, Safari, Opera */
/* @-webkit-keyframes frutasclassebg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */

/* Standard syntax */
/* @keyframes frutasclassebg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */

#leaf1 {
  bottom: -22%;
}

#leaf2 {
  bottom: -100%;
}

#leaf3 {
  bottom: -175%;
}

#leaf4 {
  bottom: -360%;
}

/*Sobre*/
#leaf5 {
  bottom: -10%;
}

#leaf6 {
  bottom: -125%;
}

.float-leaf-right {
  position: absolute;
  right: 2em;
  transition: padding ease 0.5s;
  z-index: 10;
}

.float-leaf-right:hover {
  padding: 30px;
}

.float-leaf-left {
  position: absolute;
  left: 2em;
  transition: padding ease 0.5s;
  z-index: 10;
}

.float-leaf-left:hover {
  padding: 30px;
}

.animate-leaf {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

/* CONTACT INPUT  */

textarea {
  resize: none;
}

.custom-control-label {
  color: #363636;
  font-family: Axiforma Regular, Open Sans;
}

.form-button {
  background: red;
}

.custom-file {
  padding_bottom: 1rem;
  border-bottom: 1px solid #A4462A;
  height: 3rem !important;
}

.custom-file-input {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.custom-file-input + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
  outline: none;
}

.custom-file-label-frutasclasse {
  font-family: Axiforma Medium, Open Sans !important;
}

.custom-control-input {
  padding: 10rem;
}

/* PRIVACY AND COOKIES */
.privacy-list {
  color: black;
  list-style-type: square;
}

.privacy-list li {
  padding: 0 0 1rem 0;
}

/* NEWS  */

.post-image {
  height: 14rem;
}

.post-image a {
  height: inherit;
}

.post-image img {
  height: inherit;
  object-fit: cover;
  width: 100%;
}

.post-content {
  height: 15rem;
}


/* @media only screen and (max-width: 1200px) {
  .frutasclasse-produtos-text {
    padding: 0;
  }
} */

  @media only screen and (max-width: 500px) {
    .header-logo {
      position: absolute !important;
      left: 28%;
    }
    .post-content {
      height: 14rem;
    }
  }

  @media only screen and (min-width: 501px) and (max-width: 750px) {
    .header-logo {
      position: absolute !important;
      left: 38%;
    }
  }

  @media only screen and (min-width: 751px) and (max-width: 991px) {
    .header-logo {
      position: absolute !important;
      left: 42%;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    #mainNav li {
      padding: 0;
    }

    .frutasclasse-logo {
      padding: 0 !important;
    }
  }

  @media only screen and (min-width: 1201px) and (max-width: 1450px) {
    #mainNav li {
      padding: 0 0.1em;
    }
  }

  @media only screen and (min-width: 1451px) {
    #mainNav li {
      padding: 0 1.9rem !important;
    }
  }

  .header-btn-collapse-nav {
    position: absolute !important;
    left: 0;
  }

  .contacto-img {
    max-height: 7em;
  }

  .font-letter-spacing-1 {
    letter-spacing: 1px;
  }

  .axiforma-light {
    font-family: Axiforma Light, Open Sans !important;
  }

  .axiforma-regular {
    font-family: Axiforma Regular, Open Sans !important;
  }

  .axiforma-medium {
    font-family: Axiforma Medium, Open Sans !important;
  }

  .axiforma-semi-bold {
    font-family: Axiforma SemiBold, Open Sans !important;
    letter-spacing: 0.1px;
  }

  .axiforma-bold {
    font-family: Axiforma Bold, Open Sans !important;
  }

  .axiforma-extra-bold {
    font-family: Axiforma Extra Bold, Open Sans !important;
  }
