@font-face {
  font-family: "Axiforma Black";
  src: local('Axiforma Black'), url('./fonts/Axiforma-Black.woff');
}
@font-face {
  font-family: "Axiforma Black Italic";
  src: local('Axiforma Black Italic'), url('./fonts/Axiforma-BlackItalic.woff');
}
@font-face {
  font-family: "Axiforma Bold";
  src: local('Axiforma Bold'), url('./fonts/Axiforma-Bold.woff');
}
@font-face {
  font-family: "Axiforma Bold Italic";
  src: local('Axiforma Bold Italic'), url('./fonts/Axiforma-BoldItalic.woff');
}
@font-face {
  font-family: "Axiforma Book";
  src: local('Axiforma Book'), url('./fonts/Axiforma-Book.woff');
}
@font-face {
  font-family: "Axiforma Book Italic";
  src: local('Axiforma Book Italic'), url('./fonts/Axiforma-BookItalic.woff');
}
@font-face {
  font-family: "Axiforma Extra Bold";
  src: local('Axiforma Extra Bold'), url('./fonts/Axiforma-ExtraBold.woff');
}
@font-face {
  font-family: "Axiforma Extra Bold Italic";
  src: local('Axiforma Extra Bold Italic'), url('./fonts/Axiforma-ExtraBoldItalic.woff');
}
@font-face {
  font-family: "Axiforma Heavy";
  src: local('Axiforma Heavy'), url('./fonts/Axiforma-Heavy.woff');
}
@font-face {
  font-family: "Axiforma Heavy Italic";
  src: local('Axiforma Heavy Italic'), url('./fonts/Axiforma-HeavyItalic.woff');
}
@font-face {
  font-family: "Axiforma Italic";
  src: local('Axiforma Italic'), url('./fonts/Axiforma-Italic.woff');
}
@font-face {
  font-family: "Axiforma Light";
  src: local('Axiforma Light'), url('./fonts/Axiforma-Light.woff');
}
@font-face {
  font-family: "Axiforma Light Italic";
  src: local('Axiforma Light Italic'), url('./fonts/Axiforma-LightItalic.woff');
}
@font-face {
  font-family: "Axiforma Medium";
  src: local('Axiforma Medium'), url('./fonts/Axiforma-Medium.woff');
}
@font-face {
  font-family: "Axiforma Medium Italic";
  src: local('Axiforma Medium Italic'), url('./fonts/Axiforma-MediumItalic.woff');
}
@font-face {
  font-family: "Axiforma Regular";
  src: local('Axiforma Regular'), url('./fonts/Axiforma-Regular.woff');
}
@font-face {
  font-family: "Axiforma SemiBold";
  src: local('Axiforma SemiBold'), url('./fonts/Axiforma-SemiBold.woff');
}
@font-face {
  font-family: "Axiforma SemiBold Italic";
  src: local('Axiforma SemiBoldItalic'), url('./fonts/Axiforma-SemiBoldItalic.woff');
}
@font-face {
  font-family: "Axiforma Thin";
  src: local('Axiforma Thin'), url('./fonts/Axiforma-Thin.woff');
}
@font-face {
  font-family: "Axiforma Thin Italic";
  src: local('Axiforma Thin Italic'), url('./fonts/Axiforma-ThinItalic.woff');
}
@font-face {
  font-family: "Campton Light";
  src: local('Campton Light'), url('./fonts/Campton-LightDEMO.otf');
}
