<div id="leaf3" class="d-none d-lg-block float-leaf-right animate-leaf">
  <img src="{{url_base}}/assets/img/icons/leaf3.svg" />
</div>
<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="">
				<img src="{{url_base}}/assets/img/slides/slide-2.png"
					alt="Slide"
					data-bgposition="center center"
					data-bgfit="cover"
					data-bgrepeat="no-repeat"
					class="rev-slidebg">
				<div class="tp-caption animate-leaf"
					data-x="['center','center','right','right']"
					data-y="['center','center','center','center']"
					data-hoffset="['-50','-150','-9999','-9999']"
					data-voffset="['120','120','400','400']"
					data-start="1000"
					data-transform_in="x:[-300%];opacity:0;s:500;"
					data-transform_idle="opacity:1;s:500;"><img src="{{url_base}}//assets/img/icons/leaf5.svg" alt="trace"></div>
				<div class="tp-caption text-color-light font-weight-normal animate-leaf"
					data-x="['right','right','center','center']"
					data-y="['center','center','center','center']"
					data-hoffset="['-100','60'','0','0']"
					data-voffset="['0','0','-100','-100']"
					data-start="700"
					data-fontsize="['16','14','25','25']"
					data-lineheight="['25','25','25','20']"
					data-transform_in="y:[-50%];opacity:0;s:500;"
					style="text-transform: uppercase; background: #F9E7CE; width: 38em; height: 25em;">
          <div class="content">
            <div class="row">
              <div class="col banner-div">
                <h3 class="mb-0">A Frutas Classe</h3>
                <h4>Produzimos e comercializamos os<br> melhores produtos da zona Oeste de<br>Portugal.</h4>
                <ul class="banner-list list-unstyled">
                  <li><span class="mb-1"><img src="{{url_base}}/assets/img/icons/trace2.svg" alt="Trace"></span> <span><p>Comercialização de Frutas</p></span></li>
                  <li><span class="mb-1"><img src="{{url_base}}/assets/img/icons/trace2.svg" alt="Trace"></span> <span><p>Comercialização Hortícola</p></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
					<div class="tp-caption"
						data-x="center"
						data-y="center" data-voffset="['350','500','500','600']"
						data-start="1000"
						data-transform_in="x:[300%];opacity:0;s:500;"
						data-transform_idle="opacity:1;s:500;"><a data-hash href="#text"><img src="{{url_base}}/assets/img/icons/down-arrow.svg" alt="Arrow"></a></div>
			</li>
		</ul>
	</div>
</div>

<!-- <div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="">
				<img src="{{url_base}}/assets/img/slides/slide-2.png"
					alt=""
					data-bgposition="center center"
					data-bgfit="cover"
					data-bgrepeat="no-repeat"
					class="rev-slidebg">

				<div class="tp-caption animate-leaf"
					data-x="center" data-hoffset="['-50','-50','-50','-125']"
					data-y="center" data-voffset="['120','120','120','170']"
					data-start="1000"
					data-transform_in="x:[-300%];opacity:0;s:500;"
					data-transform_idle="opacity:1;s:500;"><img src="{{url_base}}//assets/img/icons/leaf5.svg" alt=""></div>

				<div class="tp-caption text-color-light font-weight-normal animate-leaf"
					data-x="right" data-hoffset="['-100','-100','-100','-275']"
					data-y="center"
					data-start="700"
					data-fontsize="['16','16','16','40']"
					data-lineheight="['25','25','25','45']"
					data-transform_in="y:[-50%];opacity:0;s:500;"
					style="text-transform: uppercase; background: #F9E7CE; width: 38em; height: 25em;">
          <div class="content">
            <div class="row">
              <div class="col banner-div">
                <h3>A Frutas Classe</h3>
                <h4>Produzimos e comercializamos os<br> melhores produtos da zona Oeste de<br>Portugal.</h4>
                <ul class="banner-list">
                  <li><span class="mb-1"><img src="{{url_base}}/assets/img/icons/trace2.svg" alt=""></span> <span><p>Produção de Frutas</p></span></li>
                  <li></li>
                  <li><span class="mb-1"><img src="{{url_base}}/assets/img/icons/trace2.svg" alt=""></span> <span><p>Produção Hortícola</p></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
					<div class="tp-caption"
						data-x="center"
						data-y="center" data-voffset="['350','350','350','390']"
						data-start="1000"
						data-transform_in="x:[300%];opacity:0;s:500;"
						data-transform_idle="opacity:1;s:500;"><a data-hash href="#text"><img src="{{url_base}}/assets/img/icons/down-arrow.svg" alt=""></a></div>
			</li>
		</ul>
	</div>
</div> -->

<section id="text" class="call-to-action call-to-action-frutasclasse-2 pt-sm-5 appear-animation" data-appear-animation="fadeIn">
  <div class="container">
    <div class="sobre-text-block row mb-lg-4 text-center text-sm-left appear-animation" data-appear-animation="fadeIn" >
      <div class="col-12 col-sm-6">
        <h4>Há 30 anos no mercado, com produtos de alta qualidade e serviço elevado.</h4>
      </div>
      <div class="col-12 col-sm-6 text-sm-left">
        <p>A Frutas Classe foi fundada em 2001, resultando da atividade inicial de Américo Constantino, seu fundador, que conta já com mais de 30 anos de experiência.<br>
        Desde sempre nos dedicamos à produção, comercialização e distribuição de frutas e legumes. Com um foco na invasão, procuramos sempre introduzir novas ofertas. Desta forma, além das frutas  tradicionais– maçã, pera, pêssego e ameixa – o nosso portalós inclui também morangos e framboesas, tendo assim firmado e aumentado a nossa quota de mercado.</p>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid frutasclasse-bg-2 appear-animation" data-appear-animation="fadeIn">
  <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
    <div class="col-md-6 col-lg-4 isotope-item brands">
      <div class="portfolio-item">
        <a href="javascript:void(0);">
          <span class="thumb-info thumb-info-lighten border-radius-0">
            <span class="thumb-info-wrapper border-radius-0">
              <img src="{{url_base}}/assets/img/products/home/product-10.png" class="img-fluid border-radius-0" alt="Produto">
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 isotope-item brands">
      <div class="portfolio-item">
        <a href="javascript:void(0);">
          <span class="thumb-info thumb-info-lighten border-radius-0">
            <span class="thumb-info-wrapper border-radius-0">
              <img src="{{url_base}}/assets/img/products/home/product-11.png" class="img-fluid border-radius-0" alt="Produto">
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 isotope-item brands">
      <div class="portfolio-item">
        <a href="javascript:void(0);">
          <span class="thumb-info thumb-info-lighten border-radius-0">
            <span class="thumb-info-wrapper border-radius-0">
              <img src="{{url_base}}/assets/img/products/home/product-12.png" class="img-fluid border-radius-0" alt="Produto">
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
<section class="call-to-action call-to-action-frutasclasse-2 appear-animation" data-appear-animation="fadeIn">
  <div class="container">
    <div class="row py-sm-5 mb-sm-5">
      <div class="col text-center">
        <div class="call-to-action-content mb-sm-5 appear-animation" data-appear-animation="fadeInUpShorter">
          <img src="{{url_base}}/assets/img/icons/aspas.svg" alt="Trace" class="pb-4">
          <h2 class="axiforma-semi-bold mb-4 mb-sm-2">Grande qualidade e um excelente sabor.</h2>
          <h2 class="axiforma-light mb-2">É sem dúvida uma marca de excelência.</h2>
        </div>
        <div class="frutasclass-title mb-5 mb-sm-3">
          <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace4.svg" alt="Trace"></span>
          <span><p class="axiforma-light text-5 mb-0 px-2 frutasclasse-color-4">MARCO OLIVEIRA</p></span>
          <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace4.svg" alt="Trace"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="missao" class="call-to-action call-to-action-frutasclasse-1 py-lg-5 appear-animation" data-appear-animation="fadeIn">
  <div class="container">
    <div class="row py-lg-5 my-lg-5">
      <div class="col text-center">
        <div class="call-to-action-content mb-lg-5 appear-animation" data-appear-animation="fadeInUpShorter">
          <div class="frutasclass-title mb-3">
            <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace.svg" alt="Trace"></span>
            <span>
              <p class="font-weight-light text-5 mb-0 px-2 axiforma-light">MISSÃO</p>
            </span>
            <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace.svg" alt="Trace"></span>
          </div>
          <h2 class="axiforma-medium font-letter-spacing-1 text-color-light mb-2 text-3 text-md-6 text-lg-8 line-height-8">Oferecer produtos hortofrutícolas de elevada e diferenciada qualidade, aplicando tecnologia de ponta e inovação ao serviço do
            bem-estar e criando oportunidades de negócio para a empresa e valor compartilhado aos nossos associados, colaboradores, produtores, consumidores, clientes e fornecedores.</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="call-to-action call-to-action-frutasclasse-4 py-lg-5 appear-animation" data-appear-animation="fadeIn">
  <div class="container">
    <div class="row pt-lg-5 mt-lg-5">
      <div class="col text-center">
        <div class="call-to-action-content mb-lg-5 appear-animation" data-appear-animation="fadeInUpShorter">
          <div class="frutasclass-title pb-lg-5">
            <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace.svg" alt="Trace"></span>
            <span><p class="axiforma-light text-5 mb-0 px-2">PRODUTOS</p></span>
            <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace.svg" alt="Trace"></span>
          </div>
        </div>
      </div>
    </div>
  	<div class="row pb-lg-3 mb-lg-5">
  		<div class="featured-boxes featured-boxes-style-2">
  			<div class="row">
  				<div class="col-md-6 col-lg-4 appear-animation animated appear-animation" data-appear-animation="flipInX">
  					<div class="featured-box featured-box-effect-4" style="height: 205px;">
  						<div class="box-content py-sm-5">
  							<img src="{{url_base}}/assets/img/icons/fruta1.svg" alt="Produto">
  							<h4 class="axiforma-regular text-white py-sm-3 frutasclasse-color-3">Morango</h4>
  							<p class="px-3 axiforma-medium text-white">O doce sabor do Oeste</p>
  						</div>
  					</div>
  				</div>
          <div class="col-md-6 col-lg-4 appear-animation animated appear-animation" data-appear-animation="flipInX">
  					<div class="featured-box featured-box-effect-4" style="height: 205px;">
              <div class="box-content py-sm-5">
  							<img src="{{url_base}}/assets/img/icons/fruta2.svg" alt="Produto">
  							<h4 class="axiforma-regular text-white py-sm-3 frutasclasse-color-3">Pera Rocha</h4>
  							<p class="px-3 axiforma-medium text-white">A rainha da região</p>
  						</div>
  					</div>
  				</div>
          <div class="col-md-6 col-lg-4 appear-animation animated appear-animation" data-appear-animation="flipInX">
  					<div class="featured-box featured-box-effect-4" style="height: 205px;">
              <div class="box-content py-sm-5">
  							<img src="{{url_base}}/assets/img/icons/fruta3.svg" alt="Produto">
  							<h4 class="axiforma-regular text-white py-sm-3 frutasclasse-color-3">Nectarina</h4>
  							<p class="px-3 axiforma-medium text-white">Sabor suave e delicado</p>
  						</div>
  					</div>
  				</div>
          <div class="col-md-6 col-lg-4 appear-animation animated appear-animation" data-appear-animation="flipInX">
  					<div class="featured-box featured-box-effect-4" style="height: 205px;">
              <div class="box-content py-sm-5">
  							<img src="{{url_base}}/assets/img/icons/fruta4.svg" alt="Produto">
  							<h4 class="axiforma-regular text-white py-sm-3 frutasclasse-color-3">Maçã Granny Smith</h4>
  							<p class="px-3 axiforma-medium text-white">Um dos ex-libris de Portugal</p>
  						</div>
  					</div>
  				</div>
          <div class="col-md-6 col-lg-4 appear-animation animated appear-animation" data-appear-animation="flipInX">
  					<div class="featured-box featured-box-effect-4" style="height: 205px;">
              <div class="box-content py-sm-5">
  							<img src="{{url_base}}/assets/img/icons/fruta5.svg" alt="Produto">
  							<h4 class="axiforma-regular text-white py-sm-3 frutasclasse-color-3">Maçã Royal Gala</h4>
  							<p class="px-3 axiforma-medium text-white">Um dos ex-libris de Portugal</p>
  						</div>
  					</div>
  				</div>
          <div class="col-md-6 col-lg-4 appear-animation animated appear-animation" data-appear-animation="flipInX">
  					<div class="featured-box featured-box-effect-4" style="height: 205px;">
              <div class="box-content py-sm-5">
  							<img src="{{url_base}}/assets/img/icons/fruta6.svg" alt="Produto">
  							<h4 class="axiforma-regular text-white py-sm-3 frutasclasse-color-3">Laranja</h4>
  							<p class="px-3 axiforma-medium text-white">Um dos sabores mais tradicionais</p>
  						</div>
  					</div>
  				</div>
          <div class="col-md-6 col-lg-4 appear-animation animated appear-animation" data-appear-animation="flipInX">
  					<div class="featured-box featured-box-effect-4" style="height: 205px;">
              <div class="box-content py-sm-5">
  							<img src="{{url_base}}/assets/img/icons/fruta7.svg" alt="Produto">
  							<h4 class="axiforma-regular text-white py-sm-3 frutasclasse-color-3">Ameixa</h4>
  							<p class="px-3 axiforma-medium text-white">Um dos ex-libris de Portugal</p>
  						</div>
  					</div>
  				</div>
          <div class="col-md-6 col-lg-4 appear-animation animated appear-animation" data-appear-animation="flipInX">
  					<div class="featured-box featured-box-effect-4" style="height: 205px;">
              <div class="box-content py-sm-5">
  							<img src="{{url_base}}/assets/img/icons/fruta8.svg" alt="Produto">
  							<h4 class="axiforma-regular text-white py-sm-3 frutasclasse-color-3">Butternut</h4>
  							<p class="px-3 axiforma-medium text-white">Um dos ex-libris de Portugal</p>
  						</div>
  					</div>
  				</div>
          <div class="col-md-6 col-lg-4 appear-animation animated appear-animation" data-appear-animation="flipInX">
  					<div class="featured-box featured-box-effect-4" style="height: 205px;">
              <div class="box-content py-sm-5">
  							<img src="{{url_base}}/assets/img/icons/fruta9.svg" alt="Produto">
  							<h4 class="axiforma-regular text-white py-sm-3 frutasclasse-color-3">Batata Doce</h4>
  							<p class="px-3 axiforma-medium text-white">Um sabor inconfundível</p>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</section>
