<div class="container-fluid bg-primary">
  <section class="http-error">
    <div class="row justify-content-center">
      <div class="text-center py-5 my-5">
        <div class="http-error-main">
          <h2 class="py-3 my-3 pt-md-5 mt-md-5">404!</h2>
          <p class="text-dark font-weight-bold mb-5 pb-5">Página não encontrada.</p>
        </div>
      </div>
    </div>
  </section>
</div>
