<div class="slider-container rev_slider_wrapper" style="height: 100vh;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
		<ul>
			<li data-transition="fade" class="frutasclasse-overlay home-slide">
				<!-- <img src="{{url_base}}/assets/img/slides/slide-1.png"
					alt=""
					data-bgposition="center center"
					data-bgfit="cover"
					data-bgrepeat="no-repeat"
					class="rev-slidebg"> -->

				<div class="tp-caption"
					data-x="center" data-hoffset="['-160','-330','-370','-370']"
					data-y="center" data-voffset="['-123','-123','-123','-173']"
					data-start="1000"
					data-transform_in="x:[-300%];opacity:0;s:500;"
					data-transform_idle="opacity:1;s:500;"><img src="{{url_base}}/assets/img/icons/trace.svg" alt=""></div>

				<div class="tp-caption text-color-light font-weight-normal"
					data-x="center"
					data-y="center" data-voffset="['-120','-120','-120','-170']"
					data-start="700"
					data-fontsize="['16','35','40','60']"
					data-lineheight="['25','25','25','45']"
					data-transform_in="y:[-50%];opacity:0;s:500;"
					style="text-transform: uppercase; font-family: Axiforma Regular, Open Sans;">Trabalhamos com dedicação</div>

				<div class="tp-caption"
					data-x="center" data-hoffset="['160','330','370','370']"
					data-y="center" data-voffset="['-123','-123','-123','-173']"
					data-start="1000"
					data-transform_in="x:[300%];opacity:0;s:500;"
					data-transform_idle="opacity:1;s:500;"><img src="{{url_base}}/assets/img/icons/trace.svg" alt=""></div>

				<div class="tp-caption font-weight-light text-center ws-normal"
					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
					data-x="center"
					data-y="center" data-voffset="['8','8','8','70']"
					data-width="['900','900','1400','1600']"
					data-fontsize="['40','40','40','45']"
					data-lineheight="['69','69','69','80']"
					style="color: #e0e0e0; font-family: Axiforma Extra Bold, Open Sans;"><strong class="text-color-light">A qualidade e o sabor dos nossos produtos<br>diretamente para si</strong></div>

					<div class="tp-caption"
						data-x="center"
						data-y="center" data-voffset="['350','500','500','600']"
						data-start="1000"
						data-transform_in="x:[300%];opacity:0;s:500;"
						data-transform_idle="opacity:1;s:500;"><a data-hash href="#products"><img src="{{url_base}}/assets/img/icons/down-arrow.svg" alt=""></a></div>
			</li>
		</ul>
	</div>
</div>
