<!-- Mobile/Tablet -->

<section class="above-footer d-block d-lg-none {% if module|lower == 'produtos' %}bg-{{action}}{% endif %}">
	<div class="container container-xl">
		<div class="row d-flex align-items-center">
			<div class="col-12">
				<div class="row">
					<div class="col-12 d-flex align-items-center justify-content-center">
						<span class="footer-logo">
							<a href="{{url_base}}">
								<img alt="FrutasClasse" width="158" height="59" src="{{url_base}}/assets/img/logo.svg">
							</a>
						</span>
					</div>
					<div class="col-12 d-flex align-items-center justify-content-center my-2">
						<a href="https://www.facebook.com/Frutas-Classe-SA-345439205567178" target="_blank"><img src="{{url_base}}/assets/img/icons/footer/facebook.svg" alt="Facebook" class="px-2"></a>
						<a href="https://www.instagram.com/frutas_classe" target="_blank"><img src="{{url_base}}/assets/img/icons/footer/instagram.svg" alt="Instagram" class="px-2"></a>
						<a href="https://pt.linkedin.com/company/frutas-classe" target="_blank"><img src="{{url_base}}/assets/img/icons/footer/linkedin.svg" alt="Linkedin" class="px-2"></a>
					</div>
				</div>
			</div>
			<div class="col-12 text-center">
				<a href="https://www.livroreclamacoes.pt" target="_blank">
					<p class="axiforma-bold text-white text-uppercase text-1 m-0">Livro de reclamações</p>
				</a>
			</div>
			<div class="col-12 text-center">
				<a href="{{url_base}}/politica">
					<p class="axiforma-bold text-white text-uppercase text-1 m-0">Política de privacidade</p>
				</a>
			</div>
			 <div class="col-12 d-flex align-items-center justify-content-center my-2">
				<span class="px-2 axiforma-light text-1">As Nossas Marcas:</span>
				<span class="px-2"><img src="{{url_base}}/assets/img/logos/brand1.svg" alt="Marca"></span>
				<span class="px-2"><img src="{{url_base}}/assets/img/logos/brand2.svg" alt="Marca"></span>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="mt-0 d-block d-lg-none">
	<div class="footer-copyright {% if module|lower == 'produtos' %}bg-{{action}}{% endif %}">
		<div class="container container-xl">
			<div class="row py-4">
				<div class="col-12 d-flex align-items-center justify-content-center">
					<span class=""><img src="{{url_base}}/assets/img/icons/footer/dgert.svg" alt="Dgert"></span>
					<span class=""><img src="{{url_base}}/assets/img/icons/footer/global.svg" alt="Global"></span>
					<span class=""><img src="{{url_base}}/assets/img/icons/footer/grasp.svg" alt="Grasp"></span>
				</div>
				<div class="col-12 d-flex justify-content-center">
					<span class="text-white frutasclasse-footer-links mt-1">Designed by</span>
					<a href="https://unify.pt" target="_blank"><img src="{{url_base}}/assets/img/logos/unify.svg" alt="UNIFY" class="pl-2"></a>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Desktop  -->

			<section class="above-footer d-none d-lg-block {% if module|lower == 'produtos' %}bg-{{action}}{% endif %}">
				<div class="container container-xl">
					<div class="row d-flex align-items-center">
						<div class="col-4 text-left">
							<div class="row">
								<div class="col-6 col-xl-4 d-flex align-items-center justify-content-start">
									<span class="footer-logo">
										<a href="{{url_base}}">
											<img alt="FrutasClasse" width="158" height="59" src="{{url_base}}/assets/img/logo.svg">
										</a>
									</span>
								</div>
								<div class="col-2 col-xl-1 my-auto">
									<a href="https://www.facebook.com/Frutas-Classe-SA-345439205567178" target="_blank"><img src="{{url_base}}/assets/img/icons/footer/facebook.svg" alt="Facebook" target="_blank"></a>
								</div>
								<div class="col-2 col-xl-1 my-auto">
									<a href="https://www.instagram.com/frutas_classe" target="_blank"><img src="{{url_base}}/assets/img/icons/footer/instagram.svg" alt="Instagram"></a>
								</div>
								<div class="col-2 col-xl-1 my-auto">
									<a href="https://pt.linkedin.com/company/frutas-classe" target="_blank"><img src="{{url_base}}/assets/img/icons/footer/linkedin.svg" alt="Linkedin"></a>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="row">
								<div class="col-6 text-center">
									<a href="https://www.livroreclamacoes.pt" target="_blank">
										<p class="axiforma-bold text-white text-uppercase text-lg-1 text-xl-2 m-0">Livro de reclamações</p>
									</a>
								</div>
								<div class="col-6 text-center">
									<a href="{{url_base}}/politica">
										<p class="axiforma-bold text-white text-uppercase text-lg-1 text-xl-2 m-0">Política de privacidade</p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-4 d-flex align-items-center justify-content-end">
							<span class="px-2 axiforma-light text-2">As Nossas Marcas:</span>
							<span class="px-2"><img src="{{url_base}}/assets/img/logos/brand1.svg" alt=""></span>
							<span class="px-2"><img src="{{url_base}}/assets/img/logos/brand2.svg" alt=""></span>
						</div>
					</div>
				</div>
			</section>

			<footer id="footer" class="mt-0 d-none d-lg-block {% if module|lower == 'produtos' %}bg-{{action}}{% endif %}">
				<div class="footer-copyright {% if module|lower == 'produtos' %}bg-{{action}}{% endif %}">
					<div class="container container-xl">
						<div class="row py-4">
							<div class="col-4 d-flex align-items-center justify-content-start">
								<span class=""><img src="{{url_base}}/assets/img/icons/footer/dgert.svg" alt="Dgert"></span>
								<span class=""><img src="{{url_base}}/assets/img/icons/footer/global.svg" alt="Global"></span>
								<span class=""><img src="{{url_base}}/assets/img/icons/footer/grasp.svg" alt="Grasp"></span>
							</div>
							<div class="col-4"></div>
							<div class="col-4 d-flex align-items-center justify-content-end">
								<span class="text-white frutasclasse-footer-links mt-1">Designed by</span>
								<a href="https://unify.pt" target="_blank"><img src="{{url_base}}/assets/img/logos/unify.svg" alt="UNIFY" class="pl-2"></a>
							</div>
						</div>
					</div>
				</div>
			</footer>










		</div>


		<!-- Vendor -->
		<script src="{{url_base}}/assets/vendor/jquery/jquery.min.js"></script>
		<script src="{{url_base}}/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="{{url_base}}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="{{url_base}}/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
		<script src="{{url_base}}/assets/vendor/popper/umd/popper.min.js"></script>
		<script src="{{url_base}}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="{{url_base}}/assets/vendor/common/common.min.js"></script>
		<script src="{{url_base}}/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
		<script src="{{url_base}}/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
		<script src="{{url_base}}/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="{{url_base}}/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="{{url_base}}/assets/vendor/isotope/jquery.isotope.min.js"></script>
		<script src="{{url_base}}/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="{{url_base}}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="{{url_base}}/assets/vendor/vide/jquery.vide.min.js"></script>
		<script src="{{url_base}}/assets/vendor/vivus/vivus.min.js"></script>
		<!-- Theme Base, Components and Settings -->
		<script src="{{url_base}}/assets/js/theme.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="{{url_base}}/assets/js/views/view.contact.js"></script>

		<!-- Theme Custom -->
		<script src="{{url_base}}/assets/js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="{{url_base}}/assets/js/theme.init.js"></script>

		<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script> -->
		<script>
			/*
Map Settings

	Find the Latitude and Longitude of your address:
		- https://www.latlong.net/
		- http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

*/

			// // Map Markers
			// var mapMarkers = [{
			// 	address: "New York, NY 10017",
			// 	html: "<strong>New York Office</strong><br>New York, NY 10017",
			// 	icon: {
			// 		image: "img/pin.png",
			// 		iconsize: [26, 46],
			// 		iconanchor: [12, 46]
			// 	},
			// 	popup: true
			// }];
			//
			// // Map Initial Location
			// var initLatitude = 40.75198;
			// var initLongitude = -73.96978;
			//
			// // Map Extended Settings
			// var mapSettings = {
			// 	controls: {
			// 		draggable: (($.browser.mobile) ? false : true),
			// 		panControl: true,
			// 		zoomControl: true,
			// 		mapTypeControl: true,
			// 		scaleControl: true,
			// 		streetViewControl: true,
			// 		overviewMapControl: true
			// 	},
			// 	scrollwheel: false,
			// 	markers: mapMarkers,
			// 	latitude: initLatitude,
			// 	longitude: initLongitude,
			// 	zoom: 16
			// };
			//
			// var map = $('#googlemaps').gMap(mapSettings),
			// 	mapRef = $('#googlemaps').data('gMap.reference');
			//
			// // Styles from https://snazzymaps.com/
			// var styles = [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}];
			//
			// var styledMap = new google.maps.StyledMapType(styles, {
			// 	name: 'Styled Map'
			// });
			//
			// mapRef.mapTypes.set('map_style', styledMap);
			// mapRef.setMapTypeId('map_style');
		</script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-12345678-1', 'auto');
ga('send', 'pageview');
</script>
-->

		</body>

		</html>
