<header id="header" class="header-transparent header-effect-shrink"
	data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
	<div class="header-body border-top-0 bg-dark box-shadow-none">
		<div class="header-container container-fluid">
			<div class="header-row">
				<div class="header-column justify-content-center d-lg-none">
					<div class="header-row mt-2">
						<div class="header-logo">
							<a href="{{url_base}}">
								<img alt="FrutasClasse" width="158" height="59" data-sticky-width="82" data-sticky-height="40" data-sticky-top="0" src="{{url_base}}/assets/img/logo.svg">
							</a>
						</div>
					</div>
				</div>
				<div class="header-column justify-content-center align-items-end">
					<div class="header-nav justify-content-lg-center p-0">
						<div class="header-nav header-nav-links">
							<div class="header-nav-main header-nav-main-square header-nav-main-font-alternative header-nav-main-dropdown-no-borders header-nav-main-dropdown-arrow header-nav-main-dropdown-center header-nav-main-dropdown-center-bottom header-nav-main-effect-3 header-nav-main-sub-effect-1">
								<nav class="collapse">
									<ul class="nav nav-pills flex-column flex-lg-row" id="mainNav">
										<li class="order-1">
											<a class="dropdown-item" href="{{url_base}}/sobre"> Sobre </a>
										</li>
										<li class="order-2">
											<a class="dropdown-item" href="{{url_base}}/marcas"> MARCAS </a>
										</li>
										<li class="order-3">
											<a class="dropdown-item" href="{{url_base}}/comercializacao"> COMERCIALIZAÇÃO </a>
										</li>
										<li class="dropdown order-4"> <a class="dropdown-item dropdown-toggle" href="javascript:void(0);"> PRODUTOS </a>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item drop" href="{{url_base}}/produtos/morango">Morango</a></li>
												<li><a class="dropdown-item drop" href="{{url_base}}/produtos/pera_rocha">Pêra Rocha</a></li>
												<li><a class="dropdown-item drop" href="{{url_base}}/produtos/nectarina">Nectarina</a></li>
												<li><a class="dropdown-item drop" href="{{url_base}}/produtos/maca_granny">Maça Granny Smith</a></li>
												<li><a class="dropdown-item drop" href="{{url_base}}/produtos/maca_royal">Maça Royal Gala</a></li>
												<li><a class="dropdown-item drop" href="{{url_base}}/produtos/laranja">Laranja</a></li>
												<li><a class="dropdown-item drop" href="{{url_base}}/produtos/ameixa">Ameixa</a></li>
												<li><a class="dropdown-item drop" href="{{url_base}}/produtos/butternut">Butternut</a></li>
												<li><a class="dropdown-item drop" href="{{url_base}}/produtos/batata_doce">Batata Doce</a></li>
											</ul>
										</li>
										<li class="align-items-center d-none d-lg-flex order-5 px-5 mx-2 frutasclasse-logo">
											<span class="header-logo">
												<a href="{{url_base}}" class="w-158 text-center">
													<img alt="FrutasClasse" width="158" height="59" data-sticky-width="82" data-sticky-height="40" data-sticky-top="72" src="{{url_base}}/assets/img/logo.svg">
												</a>
											</span>
										</li>
										<li class="order-6">
											<a class="dropdown-item" href="{{url_base}}/noticias"> NOTÍCIAS </a>
										</li>
										<li class="order-7">
											<a class="dropdown-item" href="{{url_base}}/recrutamento"> RECRUTAMENTO </a>
										</li>
										<li class="order-8">
											<a class="dropdown-item" href="{{url_base}}/contacto"> CONTACTOS </a>
										</li>
									</ul>
								</nav>
							</div>
							<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
								<i class="fas fa-bars"></i>
							</button>
						</div>

						<ul class="nav nav-pills text-white">
							<li>
								<a class="lang language-item pl-lg-5 pr-2" lang="pt" href="javascript:void(0);"> PT </a>
							</li>
							</ul>

						<div class="header-nav-features header-nav-features-light header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2 pl-2">
							<div class="header-nav-feature header-nav-features-search d-inline-flex">
								<a href="javascript:void(0);" class="header-nav-features-toggle" data-focus="headerSearch">
									<i class="fas header-nav-top-icon"><img src="{{url_base}}/assets/img/icons/lupa.svg" alt=""></i></a>
								<div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed" id="headerTopSearchDropdown">
									<form role="search" action="" method="get">
										<div class="simple-search input-group"> <input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Pesquisar"> <span class="input-group-append"> <button class="btn" type="submit"> <i
														class="fa fa-search header-nav-top-icon text-color-dark"></i> </button> </span> </div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-column justify-content-end d-none d-lg-flex"></div>
		</div>
	</div>
</header>
<div role="main" class="main">

	{% if (module == 'Site' or module == 'Inicio') and action == 'index' %}
	{% include 'Includes/banner.html' %}
	{% endif %}
