<div id="leaf1" class="d-none d-lg-block float-leaf-right animate-leaf">
  <img src="{{url_base}}/assets/img/icons/leaf.svg" />
</div>
<div id="leaf6" class="d-none d-lg-block float-leaf-left animate-leaf">
  <img src="{{url_base}}/assets/img/icons/leaf6.svg" />
</div>
<!-- <div id="leaf3" class="d-none d-lg-block float-leaf-right animate-leaf">
  <img src="{{url_base}}/assets/img/icons/leaf3.svg" />
</div> -->
<!-- <div id="leaf4" class="d-none d-lg-block float-leaf-left animate-leaf">
  <img src="{{url_base}}/assets/img/icons/leaf4.svg" />
</div> -->

<section class="call-to-action call-to-action-frutasclasse-2 pt-5 appear-animation" data-appear-animation="fadeIn" id="products">
  <div class="container container-xl">
    <div class="row mb-lg-3 mt-lg-5">
      <div class="col text-center">
        <div class="call-to-action-content mb-lg-5 appear-animation" data-appear-animation="fadeInUpShorter">
          <div class="frutasclass-title mb-lg-3">
            <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace2.svg" alt="trace"></span>
            <span>
              <p class="axiforma-light text-5 mb-0 px-2 frutasclasse-color-2">PRODUTOS</p>
            </span>
            <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace2.svg" alt="trace"></span>
          </div>
        </div>
      </div>
    </div>
    <ul class="hidden nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
      <li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="javascript:void(0);">Show All</a></li>
      <li class="nav-item" data-option-value=".websites"><a class="nav-link text-1 text-uppercase" href="javascript:void(0);">Websites</a></li>
      <li class="nav-item" data-option-value=".logos"><a class="nav-link text-1 text-uppercase" href="javascript:void(0);">Logos</a></li>
      <li class="nav-item" data-option-value=".brands"><a class="nav-link text-1 text-uppercase" href="javascript:void(0);">Brands</a></li>
      <li class="nav-item" data-option-value=".medias"><a class="nav-link text-1 text-uppercase" href="javascript:void(0);">Medias</a></li>
    </ul>
    <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
      <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
        <div class="col-md-6 col-lg-4 isotope-item brands">
          <div class="portfolio-item">
            <a href="{{url_base}}/produtos/morango">
              <span class="thumb-info thumb-info-lighten border-radius-0">
                <span class="thumb-info-wrapper border-radius-0">
                  <img src="{{url_base}}/assets/img/products/home/morango.png" class="img-fluid border-radius-0" alt="Produto">
                </span>
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 isotope-item brands">
          <div class="portfolio-item">
            <a href="{{url_base}}/produtos/pera_rocha">
              <span class="thumb-info thumb-info-lighten border-radius-0">
                <span class="thumb-info-wrapper border-radius-0">
                  <img src="{{url_base}}/assets/img/products/home/pera_rocha.png" class="img-fluid border-radius-0" alt="Produto">
                </span>
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 isotope-item brands">
          <div class="portfolio-item">
            <a href="{{url_base}}/produtos/nectarina">
              <span class="thumb-info thumb-info-lighten border-radius-0">
                <span class="thumb-info-wrapper border-radius-0">
                  <img src="{{url_base}}/assets/img/products/home/nectarina.png" class="img-fluid border-radius-0" alt="Produto">
                </span>
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 isotope-item brands">
          <div class="portfolio-item">
            <a href="{{url_base}}/produtos/maca_granny">
              <span class="thumb-info thumb-info-lighten border-radius-0">
                <span class="thumb-info-wrapper border-radius-0">
                  <img src="{{url_base}}/assets/img/products/home/maca_granny.png" class="img-fluid border-radius-0" alt="Produto">
                </span>
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 isotope-item brands">
          <div class="portfolio-item">
            <a href="{{url_base}}/produtos/maca_royal">
              <span class="thumb-info thumb-info-lighten border-radius-0">
                <span class="thumb-info-wrapper border-radius-0">
                  <img src="{{url_base}}/assets/img/products/home/maca_royal.png" class="img-fluid border-radius-0" alt="Produto">
                </span>
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 isotope-item brands">
          <div class="portfolio-item">
            <a href="{{url_base}}/produtos/laranja">
              <span class="thumb-info thumb-info-lighten border-radius-0">
                <span class="thumb-info-wrapper border-radius-0">
                  <img src="{{url_base}}/assets/img/products/home/laranja.png" class="img-fluid border-radius-0" alt="Produto">
                </span>
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 isotope-item brands">
          <div class="portfolio-item">
            <a href="{{url_base}}/produtos/ameixa">
              <span class="thumb-info thumb-info-lighten border-radius-0">
                <span class="thumb-info-wrapper border-radius-0">
                  <img src="{{url_base}}/assets/img/products/home/ameixa.png" class="img-fluid border-radius-0" alt="Produto">
                </span>
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 isotope-item brands">
          <div class="portfolio-item">
            <a href="{{url_base}}/produtos/butternut">
              <span class="thumb-info thumb-info-lighten border-radius-0">
                <span class="thumb-info-wrapper border-radius-0">
                  <img src="{{url_base}}/assets/img/products/home/butternut.png" class="img-fluid border-radius-0" alt="Produto">
                </span>
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 isotope-item brands">
          <div class="portfolio-item">
            <a href="{{url_base}}/produtos/batata_doce">
              <span class="thumb-info thumb-info-lighten border-radius-0">
                <span class="thumb-info-wrapper border-radius-0">
                  <img src="{{url_base}}/assets/img/products/home/batata_doce.png" class="img-fluid border-radius-0" alt="Produto">
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="call-to-action call-to-action-frutasclasse-3 pt-5 appear-animation" data-appear-animation="fadeIn">
  <div class="container">
    <div class="row mb-lg-3 mt-lg-5">
      <div class="col text-center">
        <div class="call-to-action-content mb-lg-5 appear-animation" data-appear-animation="fadeInUpShorter">
          <div class="frutasclass-title mb-3">
            <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace3.svg" alt="trace"></span>
            <span>
              <p class="axiforma-light text-5 mb-0 px-1 px-lg-2 frutasclasse-color-3">ÚLTIMAS NOTÍCIAS</p>
            </span>
            <span class="pb-1"><img src="{{url_base}}/assets/img/icons/trace3.svg" alt="trace"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="blog-posts">
          <div class="row">
            <div class="col-md-4">
              <article class="post post-medium pb-0 mb-5 frutasclasse-news">
                <div class="post-content-homenews p-2 p-lg-5">
                  <span class="axiforma-regular text-uppercase text-2 py-1">02 de Abril 2020</span>
                  <p class="pb-4">Presença na Fruit Logistic foi “um verdadeiro sucesso”.</p>

                  <div class="post-meta home-box-align">
                    <hr style="border-top: 1px solid #fff;" />
                    <span><a href="javascript:void(0);">PROJETOS</a></span>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-4">
              <article class="post post-medium pb-0 mb-5 frutasclasse-news">
                <div class="post-content-homenews p-2 p-lg-5">
                    <span class="axiforma-regular text-uppercase text-2 py-1">02 de Abril 2020</span>
                  <p class="pb-4">Alimentação saudável é preocupação de 70% dos portugueses.</p>
                  <div class="post-meta home-box-align">
                      <hr style="border-top: 1px solid #fff;" />
                    <span><a href="javascript:void(0);">ALIMENTAÇÃO</a></span>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-4">
              <article class="post post-medium pb-0 mb-5 frutasclasse-news">
                <div class="post-content-homenews p-2 p-lg-5">
                    <span class="axiforma-regular text-uppercase text-2 py-1">02 de Abril 2020</span>
                  <p class="pb-4">Produção de maçã em Portugal em máximos de 33 anos.</p>
                  <div class="post-meta home-box-align">
                      <hr style="border-top: 1px solid #fff;" />
                    <span><a href="javascript:void(0);">PLANTAÇÕES</a></span>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="call-to-action-btn appear-animation text-center py-lg-5" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
            <a href="{{url_base}}/noticias" class="btn btn-frutasclasse font-weight-light">VER MAIS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="appear-animation" data-appear-animation="fadeIn">
<img src="{{url_base}}/assets/img/parallax/parallax.png" alt="Imagem" class="img-fluid p-0">
</section>

